@use "sass:math";
@use "../config.scss" as *;
@use '../partial/sections/_page-header.scss' as *;
@use '../partial/components/cards/_card-product.scss' as *;

/*
========================
PRODUCT
========================
*/
.product-list {
    margin-bottom: 30px;
    @media (max-width: 320.98px) {
        width: 100%;
    }
}
.storefront-product-pagination {
    display: none;
}

.categories-holder {
    padding-top: 50px;
    @media (max-width: 575.98px) {
        padding-top: 30px;
        padding-bottom: 15px;

        &.row {
        margin-left: -7px;
        margin-right: -7px;
        }
    }
    .categories-list {
        @include imageRatio(500, 500);
        margin-bottom: 30px;
        @media (max-width: 575.98px){
        padding-left: 7px;
        padding-right: 7px;
        padding-bottom: 14px;
        margin-bottom: 0px;
        }
        @media (max-width: 280.98px) {
        width: 100%;
        }
    }
    a {
        display: block;
        height: 100%;
        .img-zoom {
        background-color: #000;
        img {
            opacity: 0.9;
        }
        }
        &:hover {
        .img-zoom {
            img {
            opacity: 0.6;
            }
        }
        }
    }
    .categories-logo {
        position: absolute;
        bottom: 40px;
        left: 35px;
        @media (max-width: 1199.98px) {
            left: 20px;
            bottom: 20px;
        }
        @media (max-width: 991.98px) {
            left: 0;
            padding-left: 15px;
            padding-right: 15px;
        }
        @media (max-width: 320.98px) {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 18px;
        }
        img {
            height: 30px;
            @media (max-width: 1600.98px) {
                height: 20px;
            }
        }
        .title {
            font-size: 20px;
            line-height: 30px;
            color: #ffffff;
            margin-bottom: 0;
            font-weight: 400;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            @media (max-width: 320.98px) {
                font-size: 18px;
            }
        }
    }
    .category-title {
        font-weight: 500;
        font-size: 28px;
        line-height: 56px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #ffffff;
    }
}
  
  .product-category {
      padding-top: 100px;
      padding-bottom: 150px;
   
    .categories-title {
      position: absolute;
      bottom: 20px;
      left: 0;
      padding-left: 35px;
      padding-right: 35px;
      @media (max-width: 767.98px) {
          padding-left: 15px;
          padding-right: 15px;
      }
      .category-title {
          @media (max-width: 991.98px) {
              font-size: 20px;
              line-height: 35px;
              margin-bottom: 0;
          }
          @media (max-width: 320.98px) {
              font-size: 18px;
          }
      }
      }
  }
  
  
  .filter-holder {
      @media (min-width: 992px) {
          width: 33.33333333%;
      }
  }
  .product-filter {
      border: 1px solid #E0E0E0;
      padding: 30px 30px 0px 30px;
      @media (max-width: 991.98px) {
          border: none;
          border-top: 1px solid #e0e0e0;
          padding: 30px 20px 0 20px;
      }
      .woof_container_inner {
          h4 {
              font-weight: 500;
              font-size: 28px;
              line-height: 56px;
              letter-spacing: 0.05em;
              text-transform: uppercase;
              color: color(gold);
              padding-bottom: 0;
          border-bottom: none;
          margin-bottom: 10px;
          @media (max-width: 991.98px) {
              display: none;
          }
          }
          .icheckbox_minimal-grey {
              background: none;
              height: auto;
              width: auto;
              vertical-align: inherit;
          } 
          input.woof_checkbox_term{
              height: 32px;
              width: 32px;
              line-height: 35px;
              border: 1px solid color(gold);
              border-radius: 0;
              opacity: 1!important;
              position: relative!important;
              @media (max-width: 1600.98px) {
                  height: 30px;
                  width: 30px;
                  line-height: 30px;
              }
              @media (max-width: 767.98px) {
                  visibility: inherit!important;
              }
          }
          input[type=checkbox]:before,
          input[type=checkbox]:checked:before {
              content: "";
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: #ffffff;
          border: 1px solid color(gold);
          }
          input[type=checkbox]:checked:after {
              content: "";
          height: 17px;
          width: 10px;
          top: 43%;
          left: 50%;
          border-bottom: 2px solid color(gold);
          border-right: 2px solid color(gold);
          position: absolute;
          transform: translate(-50%, -50%) rotate(41deg);
          }
          .woof_checkbox_label {
              font-size: 20px;
              color: color(gold);
              padding-left: 10px;
              font-weight: 400;
              @media (max-width: 1600.98px) {
                  font-size: 16px;
              }
          }
          .woof_checkbox_count {
          margin-left: 5px;
          color: color(gold);
        }
      }
      ul.woof_list li {
          margin-bottom: 10px;
      }
      .woof_reset_search_form {
          padding: 10px 40px;
      background-color: color(gold);
      color: #ffffff;
      border: none;
      margin-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      }
  }
  .col-lg-12.filter-holder {
      .product-filter {
          border: none;
          padding: 0;
      }
  }
  
  #woof_svg_load_container {
      img {
          display: none!important;
          height: 100px!important;
          width: 100px!important;
          filter: brightness(0) saturate(100%) invert(46%) sepia(26%) saturate(384%) hue-rotate(155deg) brightness(97%) contrast(86%);
      }
  }
  #woof_html_buffer {
      display: none!important;
  }
  .plainoverlay {
      background-color: transparent!important;
      background-image: none!important;
  }
  
  
  #productFilter {
      margin-bottom: 30px;
      display: none;
      @media (max-width: 991.98px) {
          display: block;
      }
      .accordion-item {
          border-radius: 0!important;
      }
      .accordion-button {
          background-color: transparent!important;
          font-weight: 500;
          font-size: 24px;
          line-height: 35px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: color(gold)!important;
          border-radius: 0!important;
          @media (max-width: 320.98px) {
              font-size: 20px;
          }
          &:focus {
              border: none;
              box-shadow: none;
          }
          &::after {
              filter: brightness(0) saturate(100%) invert(10%) sepia(6%) saturate(225%) hue-rotate(201deg) brightness(94%) contrast(83%);
          }
      }
  }
  
  #product-holder {
      @media (min-width: 992px) {
          width: 66.66666667%;
      }
  }
  
  .product-container {
      margin-top: 20px;
      margin-bottom: 50px;
  }
  .product {
      padding-top: 150px;
      padding-bottom: 150px;
     
      .total-post {
          .woocommerce-result-count {
              font-size: 20px;
              line-height: 35px;
              color: color(gold);
              margin-bottom: 30px;
              float: left;
          }
          .woocommerce-ordering {
              float: right;
              .orderby {
                  height: 50px;
              padding: 10px 20px;
              padding-right: 40px;
              border: 1px solid #ececec;
              border-radius: 0;
              }
              .form-select:focus {
                  box-shadow: none;
              }
          }
      }
  }
  
  // PAGINATION
  .woocommerce-pagination {
      display: none!important;
  }
  
  /*
  ========================
  PRODUCT DETAIL
  ========================
  */
  .product-detail {
      padding-top: 120px;
      padding-bottom: 150px;
      @media (max-width: 1536.98px) {
          padding-top: 80px;
          padding-bottom: 100px;
      }
      .woocommerce-product-gallery {
          @media (max-width: 767.98px) {
              margin-bottom: 50px;
              padding-bottom: 30px;
              .slick-arrow {
                  display: none!important;
              }
          }
          .wpgs-lightbox-icon::before {
              content: none!important;
          }
          .woocommerce-product-gallery__image {
              a {
                  width: 100%;
                  height: 100%;
                  img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                  }
              }
          }
          .flex-control-thumbs {
              padding-left: 0;
              li {
                  display: inline-block;
              }
          }
          .slick-slide img {
              width: 100%;
              height: 100%;
          }
          .wpgs-nav {
              .slick-slide {
                  border: none;
                  padding-left: 25px;
                  padding-right: 25px;
                  img {
                      width: 85%;
                      height: 85%;
                      object-fit: contain;
                  }
                  &.slick-current {
                      img {
                          width: 100%;
                          height: 100%;
                      }
                  }
              }
          }
          .zoomImg {
              width: 1000px!important;
              height: 1000px!important;
          }
          @media (max-width: 767.98px) {
              .wcgs-carousel {
                  border: 1px solid #e0e0e0;
              }
          }
      }
      .product {
          padding-top: 0;
          padding-bottom: 0;
      }
      &-info {
          .product_title {
              font-weight: 500;
              font-size: 36px;
              letter-spacing: 0.1em;
              text-transform: uppercase;
              color: color(gold);
              @media (max-width: 767.98px) {
                  font-size: 30px;
              }
          }
          .woocommerce-product-rating {
              display: none;
          }
          .price {
              font-weight: 500;
              font-size: 36px;
              color: color(gold);
              margin-bottom: 40px;
              @media (max-width: 767.98px) {
                  font-size: 30px;
              }
              del {
                  font-size: 32px;
                  opacity: 0.5;
                  @media (max-width: 767.98px) {
                      font-size: 24px;
                  }
              }
              ins {
                  text-decoration: none;
              }
          }
          .variations_form {
              ul.variable-items-wrapper {
                  li.variable-item {
                      display: inline-block;
                      .variable-item-span-color {
                          width: 50px;
                          height: 50px;
                          display: block;
                          border: 1px solid #f1f1f1;
                      }
                  }
              }
          }
          .product_meta {
              padding-top: 20px;
              padding-bottom: 20px;
              border-top: 1px solid #CECECE;
              border-bottom: 1px solid #CECECE;
              .sku-label,
              .posted-label {
                  position: relative;
                  width: 120px;
                  display: inline-block;
                  font-size: 20px;
                  @media (max-width: 1199.98px) {
                      font-size: 16px;
                  }
                  &::after {
                      content: ":";
                      position: absolute;
                      right: 0;
                  }
              }
              .sku_wrapper {
                  font-size: 20px;
                  line-height: 35px;
                  padding-bottom: 20px;
                  @media (max-width: 1199.98px) {
                      font-size: 16px;
                  }
                  @media (max-width: 575.98px) {
                      padding-bottom: 0;
                  }
                  .sku {
                      color: color(gold);
                  }
              }
              .posted_in {
                  font-size: 20px;
                  line-height: 35px;
                  color: color(gold);
                  @media (max-width: 1199.98px) {
                      font-size: 16px;
                  }
                  a {
                      color: color(gold);
                  }
              }
          }
          .variations {
              th.label {
                  label {
                      font-size: 20px;
                      line-height: 35px;
                      font-weight: 400;
                      @media (max-width: 1199.98px) {
                          font-size: 16px;
                      }
                  }
                  .woo-selected-variation-item-name {
                      display: none;
                  }
              }
              tr {
                  position: relative;
              }
              .woo-variation-items-wrapper {
                  padding-top: 40px;
                  padding-bottom: 40px;
                  ul {
                      margin-bottom: 0;
                      li.variable-item {
                          margin-right: 10px;
                      }
                  }
                  .reset_variations {
                      position: absolute;
                      left: 0;
                  }
              }
          }
          .single_variation_wrap {
              margin-top: 20px;
          }
      }
  }
  
  .stock {
      color: #6FCF97;
      font-size: 20px;
      line-height: 35px;
      @media (max-width: 1199.98px) {
          font-size: 16px;
      }
      &::before {
          content: none;
      }
      &.in-stock {
          &::before {
              content: none;
          }
      }
  }
  
  .single_variation_wrap,
  .single-product-quantity {
      .woocommerce-variation-price {
          display: none;
      }
      .quantity {
          width: 35%;
          margin-right: 10px;
          @media (max-width: 1199.98px) {
              width: 50%;
              margin-right: 0;
          }
          @media (max-width: 991.98px) {
              width: 100%;
          }
          @media (max-width: 767.98px) {
              width: 50%;
          }
          @media (max-width: 320.98px) {
              width: 100%;
          }
          .form-control {
              height: 70px;
          border-top: 1px solid #ececec;
          border-bottom: 1px solid #ececec;
          border-left: none;
          border-right: none;
          text-align: center;
          font-size: 20px;
          @media (max-width: 1199.98px) {
                  font-size: 16px;
              }
          &:focus {
              box-shadow: none;
          }
          }
          .btn-minus,
          .btn-plus {
              width: 50px;
              position: relative;
              &::after {
                  content: "";
                  width: 20px;
                  height: 20px;
                  background-size: 20px;
                  background-repeat: no-repeat;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
              }
          }
          .btn-minus {
              border-top: 1px solid #ececec;
              border-bottom: 1px solid #ececec;
              border-left: 1px solid #ececec;
              border-right: none;
              margin-left: 0!important;
              &::after {
                  background-image: url('/images/icon/minus.svg');
              }
          }
          .btn-plus {
              border-top: 1px solid #ececec;
              border-bottom: 1px solid #ececec;
              border-left: none;
              border-right: 1px solid #ececec;
              border-radius: 0;
              &::after {
                  background-image: url('/images/icon/plus.svg');
              }
          }
      }
      .single_add_to_cart_button {
          width: auto;
          border: none;
          background-color: color(gold);
          font-size: 18px;
          color: #ffffff;
          text-transform: uppercase;
          padding-left: 30px;
          padding-right: 30px;
          @media (max-width: 1199.98px) {
              width: 50%;
              font-size: 16px;
          }
          @media (max-width: 991.98px) {
              width: 92.5%;
          margin-left: 11px;
          height: 70px;
          margin-top: 10px;
          }
          @media (max-width: 767.98px) {
              width: 46%;
              margin-left: 0;
              margin-top: 0;
          }
          @media (max-width: 320.98px) {
              width: 92.5%;
              margin-left: 11px;
              margin-top: 10px;
          }
          &.disabled {
              opacity: 0.7;
              cursor: not-allowed;
          }
      }
  }
  .added_to_cart.wc-forward {
      display: none;
  }
  .edit-link {
      display: none;
  }
  .woocommerce-tabs {
      padding-top: 120px;
      @media (max-width: 767.98px) {
          padding-top: 50px;
      }
      .section-title {
          font-weight: 500;
          font-size: 36px;
          line-height: 72px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: color(gold);
          @media (max-width: 767.98px) {
              font-size: 30px;
          }
      }
      p {
          font-size: 18px;
          line-height: 35px;
          @media (max-width: 1199.98px) {
              font-size: 16px;
          }
      }
  }
  .related {
      padding-top: 120px;
      @media (max-width: 767.98px) {
          padding-top: 50px;
      }
      .holder {
          display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      }
      .section-title {
          margin-bottom: 50px;
          font-weight: 500;
          font-size: 36px;
          line-height: 72px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: color(gold);
          @media (max-width: 767.98px) {
              font-size: 30px;
          }
      }
      .product-list .box-product .img-holder {
        height: 300px;
        @media (max-width: 991.98px) {
            height: 200px;
        }
        @media (max-width: 479.98px) {
            height: 150px;
        }
        @media (max-width: 320.98px) {
            height: auto;
        }
    }
  }
  .woocommerce-breadcrumb {
      color: #BDBDBD;
      font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
      .breadcrumb-separator {
          padding: 0 20px;
          &::after {
              content: '';
        background-image: url('../images/icon/angle-right.svg');
        background-position: center;
        background-repeat: no-repeat;
        filter: brightness(0) saturate(100%) invert(50%) sepia(6%) saturate(1595%) hue-rotate(155deg) brightness(91%) contrast(86%);
        height: 20px;
        padding-left: 0;
        padding-right: 20px;
          margin-top: 0;
        position: absolute;
        top: 50%;
          left: 50%;
          opacity: 1;
          transform: translate(-50%, -50%);
          }
      }
      a {
      color: #29292A;
      &:before {
          content: none!important;
      }
      }
  }
  
  
  p.stars a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  p.stars a::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    content: "";
    font-size: .95em;
    color: #43454b;
    text-indent: 0;
    opacity: .25;
  }