@use 'sass:math';
@use '../_config.scss' as *;
@use '../config/_reset.scss';

.cart-page{
    .cart-title{
        margin-bottom: 120px;
        font-size: 64px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 6.4px;
        text-transform: uppercase;
        color: color(blue,500);
        text-align: center;
    }
    .woocommerce-message{
        padding: 15px 20px;
        background-color:rgba(96, 125, 139, 0.10);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 218.75%;
    }
    .woocommerce-cart-form{
        margin-top: 30px;
    }
    .woocommerce-shipping-totals{
        .accordion-button{
            background-color: #ffffff;
            box-shadow: none;
            outline: none;
            &:active{
                box-shadow: none;
                outline: none;
            }
            img{
                max-width: 50px;
            }
        }
    }
    .woocommerce-shipping-methods{
        list-style: none;
        padding: 0px;
    }

    .shop_table {
        thead{
            tr{
                th{
                    background-color:rgba(96, 125, 139, 0.10);
                    padding: 24px;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 35px; /* 194.444% */
                    letter-spacing: 0.9px;
                    text-transform: uppercase;
                    text-align: center;
                }

                th.product-subtotal{
                    text-align: right;
                }
            }
        }
        tbody{
            tr{
                border: 1px solid transparent;
                td{
                    vertical-align:middle;
                    text-align: center;
                    padding:8px 24px;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 175%;
                    color: color(gray,400);
                }
                td.product-thumbnail{
                    max-width: 169px;
                    img{
                        width: 169px;
                        height: 169px;
                        object-fit: cover;
                    }
                }
                td.product-remove{
                    width: 72px;
                    .remove{
                        &::before{
                            content: '';
                            background: url('https://api.iconify.design/ic/outline-close.svg') no-repeat center center / contain;
                        }
                    }
                }
                td.product-thumbnail,
                td.product-quantity,
                td.product-price,
                td.product-subtotal{
                    width: 250px;
                }

                td.product-subtotal{
                    text-align: right;
                }
                td.coupon-holder{
                    padding:30px 0px;
                }
                td.update-cart{
                    text-align: right;
                    padding:30px 0px;
                }
                
            }

            tr.coupon-holder-wrapper{
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0px;
                    height: 1px;
                    background-color: #ECECEC;
                }
                
            }
        }
    }

    .cart_totals {
        padding: 40px;
        border: 1px solid color(gray,50);

        .cart_totals-title{
            margin-bottom: 60px;
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 3.6px;
            text-transform: uppercase;
        }

        .shop_table{
            margin-bottom: 40px;
            width: 100%;
            tr{
                th{
                    min-width: 150px;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 175%;
                }

                th.product-subtotal{
                    text-align: right;
                }
            }
            
            tbody{
                tr{
                    border-bottom: 1px solid color(gray,50);
                    td{
                        vertical-align:middle;
                        text-align: left;
                        padding:24px 24px;

                        bdi{
                            font-weight: 500;
                        }
                    }
                }
                tr.order-total{
                    color: color(blue,500);
                    font-weight: 500;
                    td{
                        color: color(blue,500);
                    }
                }
            }
        }
        .wc-proceed-to-checkout{
            text-align: right;
        }
    }

    @media only screen and (max-width: 991.98px) {
        .cart-title{
            margin-bottom: 100px;
            font-size: 36px;
        }

        .quantity{
            max-width: 200px;
            margin-left: auto;
        }
        .shop_table {
            thead{
                display: none;
            }
            tbody{
                tr{
                    display: block;
                    border: 1px solid color(gray,50);
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                    td{
                        display: block;
                        text-align: right;
                        width: 100% !important;
                        border: none;
                        font-size: 16px;
                        &::before {
                            content: attr(data-title) " ";
                            font-weight: 600;
                            float: left;
                            text-transform: uppercase;
                            color: #29292A;
                        }
                    }
                    td.product-thumbnail{
                        max-width: 140px;
                        img{
                            width: 140px;
                            height: 140px;
                            object-fit: cover;
                        }
                    }
                    td.product-remove{
                        .remove{
                            position: relative;
                            right: -12px;
                            margin-left: auto;
                        }
                    }
                    td.coupon-holder{
                        order: 2;
                    }
                    td.update-cart{
                        padding: 10px 0px;
                        order: 1;
                        .button{
                            display: block;
                            width: 100%;
                        }
                    }
                }
                tr.coupon-holder-wrapper{
                    display: flex;
                    flex-direction: column;
                    border: none;

                    &::after{
                        display: none;
                    }
                }
            }
        }
        .cart_totals {
            padding: 0px;
            border: 1px solid transparent;
    
            .cart_totals-title{
                margin-bottom: 24px;
                font-size: 24px;
            }
    
            .shop_table{
                margin-bottom: 40px;
                width: 100%;
                tr{
                    border: none;
                    display: flex;
                    th{
                        min-width: 150px;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 175%;
                    }
    
                    th.product-subtotal{
                        text-align: right;
                    }
                }
                
                tbody{
                    tr{
                        td{
                            vertical-align:middle;
                            text-align: right;
                            padding:0px;

                            &::before{
                                display: none;
                            }
                        }
                    }
                }
            }
            .wc-proceed-to-checkout{
                .checkout-button{
                    width: 100%;
                } 
            }
        }
    }
}