@use 'sass:math';
@use '../_config.scss' as *;
@use '../config/_reset.scss';
@use '../partial/components/cards/_card-registerlogin.scss' as *;

.section-login{
    background-color: color(gray,25);

    .woocommerce{
        max-width: 80%;
        margin: 0 auto;
        @media only screen and (max-width: 1399.98px) {
            max-width: 100%;
        }
    }
    
    .woocommerce-error{
        color: red;
        list-style: none;
        padding: 0px;
    }
}

