@use 'sass:math';
@use '../_config.scss' as *;
@use '../config/_reset.scss';
@use '../partial/components/cards/_card-registerlogin.scss' as *;

.section-register{
    background-color: color(gray,25);
    .woocommerce-error{
        color: red;
        list-style: none;
        padding: 0px;
    }
}

.woocommerce-notices-wrapper{
    max-width: 80%;
    margin: 0px auto;
    @media only screen and (max-width: 1399.98px) {
        .woocommerce-notices-wrapper{
            max-width: 100%;
        }
    }
}


