@use "sass:math";
@use "../config.scss" as *;
@use '../partial/sections/_page-header.scss' as *;
@use '../partial/components/cards/_card-product.scss' as *;

.product-detail{
    del,
    ins{
        font-size: 36px;
        color: color(blue,500);
    }
    ins{
        text-decoration: none;
    }
    .woocommerce-product-gallery {
        .wpgs-lightbox-icon::before {
            content: none!important;
        }
        .woocommerce-product-gallery__image {
            a {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .flex-control-thumbs {
            padding-left: 0;
            li {
                display: inline-block;
            }
        }
        .slick-slide img {
            width: 100%;
            height: 100%;
        }
        .wpgs-nav {
            .slick-slide {
                border: none;
                padding-left: 25px;
                padding-right: 25px;
                img {
                    width: 85%;
                    height: 85%;
                    object-fit: contain;
                }
                &.slick-current {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .woocommerce-product-gallery{
        position: relative;

        &__trigger{
            position: absolute;
            top: 16px;
            right: 16px;
            z-index: 10;
        }
    }
    .woocommerce-Price-amount{
        font-weight: 500;
        color: color(blue,500);
        font-weight: 500;
        font-size: 36px;
        line-height: 47px;
        vertical-align: middle;

        bdi{
            vertical-align: middle;
        }
    }
    .product_title{
        font-weight: 500;
        font-size: 36px;
        line-height: 72px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: color(black,100);
    }
    .woocommerce-variation-add-to-cart{
        display: flex;
        align-items: center;
    }
    .woocommerce-tabs{
        .tabs{
            display: flex;
            list-style: none;
            margin-top: 32px;
            padding: 0px;

            li{
                position: relative;
                margin-right: 32px;
                padding: 8px 0px;
                font-weight: 500;
                font-size: 24px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #29292A;
                a{
                    display: inline-block;
                }
                &.active{
                    border-bottom: 3px solid  #29292A;
                }

                &::after{
                    display: none;
                }
            }
        }

        .woocommerce-Tabs-panel{
            h2{
                font-weight: 500;
                font-size: 32px;
                line-height: 1.5;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #29292A;
            }
        }
    }
    .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected, 
    .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover {
        box-shadow: none;
    }
    .product_meta {
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #CECECE;
        border-bottom: 1px solid #CECECE;
        .sku-label,
        .posted-label {
            position: relative;
            width: 120px;
            display: inline-block;
            font-size: 20px;
            @media (max-width: 1199.98px) {
                font-size: 16px;
            }
            &::after {
                content: ":";
                position: absolute;
                right: 0;
            }
        }
        .sku_wrapper {
            font-size: 20px;
            line-height: 35px;
            padding-bottom: 20px;
            @media (max-width: 1199.98px) {
                font-size: 16px;
            }
            @media (max-width: 575.98px) {
                padding-bottom: 0;
            }
            .sku {
                color: #676A6C;
            }
        }
        .posted_in {
            font-size: 20px;
            line-height: 35px;
            color: #676A6C;
            @media (max-width: 1199.98px) {
                font-size: 16px;
            }
            a {
                color: #676A6C;
            }
        }
    }
    .variations {
        th.label {
            label {
                font-size: 20px;
                line-height: 35px;
                font-weight: 400;
                @media (max-width: 1199.98px) {
                    font-size: 16px;
                }
            }
            .woo-selected-variation-item-name {
                display: none;
            }
        }
        tr {
            position: relative;
        }
        .woo-variation-items-wrapper {
            padding-top: 40px;
            padding-bottom: 40px;
            ul {
                margin-bottom: 0;
                li.variable-item {
                    margin-right: 10px;
                }
            }
            .reset_variations {
                position: absolute;
                left: 0;
            }
        }
    }
    .single_variation_wrap {
        margin-top: 20px;
    }
    .onsale{
        position: absolute;
        top: 16px;
        left: 24px;
        z-index: 10;
    }
    .flex-control-nav{
        display: flex;
        padding: 0px;
        list-style: none;
    }
    .woocommerce-product-attributes
    {
        td, th {
            padding: 18px 27px;
            text-align: left;
            vertical-align: top;
        }

        &:not( .has-background ) th {
            background-color: #f8f8f8;
        }
    }
    .yith-wcwl-add-to-wishlist {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .variations{
        margin-bottom: 32px;
    }
    .single_add_to_wishlist,
    .yith-wcwl-add-button a{
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #676A6C;
    }
    .stock {
        color: #6FCF97;
        font-size: 20px;
        line-height: 35px;
        &.out-of-stock{
            color: rgb(241, 80, 80);
        }
        @media (max-width: 1199.98px) {
            font-size: 16px;
        }
        &::before {
            content: none;
        }
        &.in-stock {
            color: rgb(20, 206, 113);
            &::before {
                content: none;
            }
        }
    }
    .quantity {
		width: 35%;
		margin-right: 10px;
        .btn-minus,
        .btn-plus {
            margin-left: 0!important;
        } 

        // .form-control{
        //     height: 70px;
        // }
	}
    .single_add_to_cart_button {
		width: auto;
		padding: 12px 30px;
        border: none;
		background-color: color(blue,500);
		font-size: 18px;
		color:#ffffff;
		text-transform: uppercase;
        transition: 0.4s ease;
        &:hover{
            background-color: color(blue,400);
        }
		
		&.disabled {
			opacity: 0.7;
			cursor: not-allowed;
		}
	}

    @media only screen and (max-width: 1399.98px) {
        .product_title{
            font-size: 32px;
            line-height: 1.5;
        }
    }
    @media (max-width: 1199.98px) {
        .single_add_to_cart_button{
            width: 50%;
            font-size: 16px;
        }

        .quantity {
            width: 50%;
			margin-right: 0;
        }
        
    }
    @media (max-width: 991.98px) {
        .yith-wcwl-add-to-wishlist {
            margin-top: 24px;
            margin-bottom: 24px;
        }
        .single_add_to_wishlist,
        .yith-wcwl-add-button a{
            font-size: 16px;
            line-height: 1.5;
        }
        .single_add_to_cart_button{
            width:100%;
        }
        .quantity {
            margin-bottom: 16px;
            width: 100%;
        }
        .product_title{
            font-size: 30px;
            line-height: 1.5;
        }
        
    }
    @media (max-width: 767.98px) {
        .woocommerce-product-gallery {
            margin-bottom: 20px;
            padding-bottom: 20px;
            .slick-arrow {
                display: none!important;
            }
            .wcgs-carousel {
                border: 1px solid #e0e0e0;
            }
        }
        .single_add_to_cart_button{
            width: 46%;
            margin-left: 0;
            margin-top: 0;
        }

        .quantity {
            margin-bottom: 0px;
            width: 50%;
        }

        .product_title{
            font-size: 24px;
            letter-spacing: 2.4px;
        }

        .woocommerce-Price-amount{
            font-size: 20px;
            line-height: 1.5;
        }
        del,
        ins{
            font-size: 20px;
        }
    }
    @media (max-width: 575.98px) {
        .woocommerce-tabs{
            .tabs{
                flex-direction: column;

                li{
                    margin-right: 0px;
                }
            }
        }
        .single_add_to_cart_button{
            width: 50%;
        }
        .quantity {
            width: 50%;
        }
        
    }

    @media only screen and (max-width: 380px) {
        .single_add_to_cart_button{
            width: 100%;
        }

        .quantity {
            margin-bottom: 14px;
            width: 100%;
        }
    }
}
.added_to_cart.wc-forward {
	display: none;
}
.edit-link {
	display: none;
}
.related.products{
    .products{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
    }
}
.related{
    padding-top: 120px;
    padding-bottom: 100px;

    .holder{
        display: flex;
        padding: 20px 0px;
        margin-bottom: 64px;
    }
	
    @media (max-width: 767.98px) {
		padding-top: 50px;
        padding-bottom: 50px;
	}
}
.star-rating {
    overflow: hidden;
    position: relative;
    height: 1.618em;
    line-height: 1.618;
    font-size: 1em;
    width: 5.55em;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;

    &::before,
    span::before{
        content: "";
        top: 0;
        left: 0;
        position: absolute
    }

    &::before{
        opacity: .25;
        float: left
    }

    span{
        overflow: hidden;
        float: left;
        top: 0;
        left: 0;
        position: absolute;
        padding-top: 1.5em;
        color: rgb(241, 167, 6);
    }

}
p.stars {
    display: block;
    margin-bottom: 24px;

    a{
        position: relative;
        height: 1em;
        width: 1em;
        text-indent: -999em;
        overflow: hidden;
        display: inline-block;
        text-decoration: none;
        font-weight: 400;
        &::before{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 1em;
            height: 1em;
            line-height: 1;
            font-family: "Font Awesome 5 Free";
            content: "";
            font-size: .95em;
            color: #43454b;
            text-indent: 0;
            opacity: .25;
            transition: 0.4s ease;
        }
    }

    a:hover~a::before {
        color: #43454b;
        opacity: .25
    }

    &:hover a::before {
        color: rgb(241, 167, 6);;
        opacity: 1
    }
    &.selected a.active::before {
        color: rgb(241, 167, 6);;
        opacity: 1
    }
    &.selected a.active~a::before {
        color: #43454b;
        opacity: .25
    }
    &.selected a:not(.active)::before {
        color: rgb(241, 167, 6);;
        opacity: 1
    }
}
.comment-reply-title{
    font-weight: 500;
    font-size: 36px;
    line-height: 72px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #29292A;
}
.commentlist{
    list-style: none;
    padding: 0px;
    .review{
        margin-bottom: 32px;
    }
}
.comment_container{
    position: relative;
    display: flex;
    padding-left: 32px;

    .avatar{
        position: relative;
        border-radius: 100%;
        max-width: 100px;
        width: 100px;
        height: 100px;
        opacity: 1;
    }
}
.comment-text{
    padding-left: 16px;
}
.comment-respond{
    .submit{
        display: inline-block;
        padding: 20px 52px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        border-radius: 0px;
        text-transform: uppercase;
        box-shadow: none;
        outline: none;
        border:none;
        background-color: color(blue,400);
        color: #ffffff;
        &:hover{
            color: #ffffff;
        }
    
        &:focus,
        &:active{
            color: #ffffff !important;
        }
        &.disabled {
            color: #ffffff;
        }
    
        @media only screen and (max-width: 575.98px) {
            padding: 10px 20px;
            font-size: 12px;
        }
    }
}
.storefront-product-pagination {
    display: block;
    a{
        position: fixed;
        top: 50%;
        width: 500px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
        z-index: 1499;
        display: flex;
        align-items: center;
        img{
            max-width: 90px;
            height: auto;
            border-radius: 0
        }
    }

    a[rel=prev]{
        left: -455px;
        transition: left .3s ease-out;
        flex-direction: row-reverse;
        background-color: #ffffff;
        padding: 8px 16px;
        z-index: 1;
    }

    a[rel=prev]:hover{
        left: 0
    }

    a[rel=prev] img{
        margin-left: 1.41575em
    }

    a[rel=prev] .storefront-product-pagination__title{
        margin-right: auto
    }

    a[rel=next]{
        right: -455px;
        transition: right .3s ease-in;
        padding-right: 1em;
        background-color: #ffffff;
        padding: 8px 16px;
        z-index: 1;
    }
    a[rel=next]:hover{
        right: 0
    }

    a[rel=next] img{
        margin-right: 1.41575em
    }

    a[rel=next] .storefront-product-pagination__title{
        margin-left: auto
    }

    @media only screen and (max-width: 991.98px) {
        display: none;
    }
}




