@use "sass:math";
@use "../config.scss" as *;


.default-page {
	// padding-top: 180px;
	padding-bottom: 180px;
	@media (max-width: 1536.98px) {
		padding-bottom: 100px;
	}
	@media (max-width: 767.98px) {
		padding-bottom: 50px;
	}
	@media (max-width: 479.98px) {
		padding-bottom: 0;
	}
	h1.section-title {
		// padding-top: 130px;
	}
}

.woocommerce {
	padding-top: 180px;
	@media (max-width: 1536.98px) {
		padding-top: 100px;
	}
	@media (max-width: 767.98px) {
		padding-top: 50px;
	}
	&.widget_shopping_cart {
		padding-top: 0;
	}
}

// CHECKBOX
.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer; 
}

/* Create a custom checkbox */
.checkbox span {
    position: absolute;
    top: 3px;
    left: 0;
    height: 22px;
    width: 22px;
    border: 1px solid color(blue,400);
}

.checkbox input:checked ~ span {
	border: 1px solid color(blue,400);
}

.checkbox span:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ span:after {
  	display: block;
}

.checkbox span:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid color(blue,400);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*
========================
LOGIN & REGISTER
========================
*/
.login-page {
	background-color: #F7F8F9;
	.image-holder {
		padding-right: 0;
		@media (max-width: 991.98px) {
			width: 100%;
			height: 350px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.form-holder {
		padding-left: 0;
		background-color: #ffffff;
		padding: 50px 80px;
		@media (max-width: 1199.98px) {
			padding: 50px 30px;
		}
		@media (max-width: 991.98px) {
			width: 100%;
			background-color: transparent;
			padding: 0 15px;
			form {
				background-color: #ffffff;
				padding: 50px 20px;
				margin-bottom: 50px;
			}
		}
		.section-title {
			font-weight: 500;
			font-size: 36px;
			line-height: 72px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: color(blue,400);
			margin-bottom: 30px;
		}
	}
	label {
		margin-bottom: 10px;
		font-size: 18px;
		color: #000000;
		@media (max-width: 1536.98px) {
			font-size: 16px;
		}
		.required {
			color: red;
		}
	}
	.woocommerce-form-row input {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: #000000;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ECECEC;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 0;
    height: 60px;
	}
	.woocommerce-LostPassword.lost_password {
		float: right;
		a {
			color: color(blue,400);
		}
	}
	label.checkbox {
		color: color(blue,400);
	}
	.woocommerce-button {
		background-color: color(blue,400);
		color: #ffffff;
		padding: 20px 30px;
		border: none;
		border-radius: 0;
		display: block;
		width: 100%;
		text-transform: uppercase;
		&:hover {
			background-color: #4c646f;
		}
	}
	.register-link {
		margin-top: 30px;
		text-align: center;
	}
	.password-input {
		display: block;
		input {
			width: 100%;
		}
	}
}

.woocommerce-ResetPassword {
	.woocommerce-Button {
		background-color: color(blue,400);
    color: #ffffff;
    padding: 20px 30px;
    border: none;
    border-radius: 0;
    display: block;
    text-transform: uppercase;
	}
}


/*
=======================
MY ACCOUNT
=======================
*/
.myaccount-page {
	background-color: #ffffff!important;
}
.my-account-title {
	font-weight: 500;
	font-size: 64px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	padding-bottom: 120px;
	color: color(blue,400);
	@media (max-width: 1536.98px) {
		font-size: 50px;
		padding-bottom: 100px;
	}
	@media (max-width: 767.98px) {
		padding-bottom: 50px;
	}
	@media (max-width: 575.98px) {
		font-size: 36px;
	}
}
.woocommerce-MyAccount-navigation {
	@media (max-width: 767.98px) {
		margin-bottom: 50px;
	}
	ul {
		padding-left: 0;
		border: 1px solid #ECECEC;
		li {
			list-style: none;
			a {
				display: block;
				text-transform: uppercase;
				font-size: 18px;
				letter-spacing: 0.05em;
				padding: 8px 20px;
				@media (max-width: 1536.98px) {
					font-size: 16px;
				}
				&::before {
					content: none!important;
				}
			}
			&.woocommerce-MyAccount-navigation-link--downloads {
				display: none;
			}
			&+li {
				border-top: 1px solid #ECECEC;
			}
			&.is-active {
				a {
					color: color(blue,400);
				}
			}
		}
	}
}
.woocommerce-MyAccount-content {
	// NOTIF
	.woocommerce-info {
		margin-bottom: 30px;
	}
	// DASHBOARS
	p {
		a {
			color: color(blue,400);
			text-decoration: underline;
		}
	}
	// ORDER
	.my_account_orders {
		@media (max-width: 991.98px) {
			thead {
				display: none;
			}
		}
		tbody {
			tr {
				@media (max-width: 991.98px) {
					display: block;
					padding-bottom: 15px;
					padding-top: 15px;
					border-bottom: 1px solid #ececec;
				}
				td {
					color: #000000;
					@media (max-width: 991.98px) {
						display: block;
						text-align: right;
				    padding-left: 0!important;
    				padding-right: 0!important;
    				&::before {
					    content: attr(data-title) ": ";
					    font-weight: 600;
					    float: left;
						}
						&.woocommerce-orders-table__cell-order-actions {
							width: 100%;
							position: relative;
							text-align: left;
							&::before {
								position: absolute;
								top: 0;
								left: 0;
							}
						}
					}
					&.woocommerce-orders-table__cell-order-number {
						a {
							color: #000000;
							text-decoration: underline;
						}
					}
					.woocommerce-Price-amount {
						color: #000000;
						display: block;
					}
				}
				.button {
					@media (max-width: 991.98px) {
						width: auto;
						font-size: 14px;
						margin-top: 30px;
					}
					&.view,
					&.pay,
					&.cancel {
						padding: 10px 20px;
				    color: #ffffff;
				    display: block;
				    text-transform: uppercase;
				    @media (max-width: 991.98px) {
				    	display: inline-block;
				    }
				    @media (max-width: 575.98px) {
				    	margin-bottom: 10px!important;
				    }
				    &::after {
				    	content: none;
				    }
				  }
				}
				.button.pay {
					margin-bottom: 10px;
					@media (max-width: 991.98px) {
						margin-right: 10px;
					}
					@media (max-width: 575.98px) {
						margin-bottom: 0;
					}
				}
				.button.cancel {
					margin-top: 10px;
					@media (max-width: 991.98px) {
						margin-left: 10px;
						margin-top: 30px;
					}
				}
			}
		}
	}
	.woocommerce-orders-table {
		thead {
			th {
				background-color: #EFF2F3;
			    text-transform: uppercase;
			    text-align: center;
			    padding: 20px 15px;
			    font-size: 18px;
			    border: none;
			}
			.woocommerce-orders-table__header-order-actions {
				min-width: 150px;
				span {
					display: none;
				}
			}
		}
		tbody {
			td {
				border: none;
				text-align: center;
				padding: 30px 5px;
				color: color(blue,400);
				@media (max-width: 991.98px) {
					padding: 5px;
				}
				a {
					color: color(blue,400);
				}
				.woocommerce-Price-amount {
					display: block;
					color: color(blue,400);
				}
				.btn-order {
					background-color: color(blue,400);
					color: #ffffff;
					border-radius: 0;
					padding: 15px 20px;
					text-transform: uppercase;
					margin-bottom: 10px;
					&:after {
						content: none;
					}
				}
			}
			.woocommerce-orders-table__cell-order-actions {
				text-align: center;
				width: 100px;
			}
		}
	}
	.order-info {
		font-size: 20px;
		color: #000000;
		mark {
			background-color: transparent;
			font-weight: 600;
			&.order-date {
				padding-left: 50px;
				padding-right: 50px;
			}
		}
	}
	.woocommerce-order-details__title {
		font-weight: 500;
		font-size: 36px;
		line-height: 72px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #000000;
		padding-top: 20px;
	}

	// PAYMENT METHOD
	#add_payment_method {
		ul {
			padding-left: 0;
			li {
				list-style: none;
			}
		}
		label {
			display: block;
			margin-bottom: 10px;
			.required {
				color: red;
			}
		}
		input {
			display: block;
		    width: 50%;
		    padding: 0.375rem 0.75rem;
		    font-size: 1rem;
		    font-weight: 400;
		    line-height: 1.5;
		    color: #000000;
		    background-color: #ffffff;
		    background-clip: padding-box;
		    border: 1px solid #ECECEC;
		    appearance: none;
		    border-radius: 0.375rem;
		    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		    border-radius: 0;
		    height: 60px;
		}
		.woocommerce-Button {
			margin-top: 30px;
		    padding: 20px 40px;
		    font-size: 18px;
		    color: #ffffff;
		    background-color: color(blue,400);
		    border: none;
		    text-transform: uppercase;
		    letter-spacing: 0.05em;
		}
	}

	// COUPON
	.wt-mycoupons,
	.wt-used-coupons,
	.wt-expired-coupons {
		margin-top: 0;
		margin-bottom: 50px;
		h4 {
			color: #000000;
		    font-size: 28px;
		    letter-spacing: 0.05em;
		    text-transform: uppercase;
		}
	}
}

.order_details {
	th,td {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	thead {
		th {
			font-weight: 500;
			font-size: 20px;
			&.product-name {
				padding-left: 0;
			}
			&.product-total {
				text-align: right;
				padding-right: 0;
			}
		}
	}
	tbody {
		td {
			font-size: 20px;
			&.product-name {
				padding-left: 0;
				.product-quantity {
					color: color(blue,400);
				}
			}
			&.product-total {
				padding-right: 0;
				text-align: right;
			}
		}
	}
	tfoot {
		th {
			padding-left: 0;
			font-weight: 500;
			font-size: 20px;
		}
		td {
			padding-right: 0;
			text-align: right;
			font-size: 20px;
			font-weight: 500;
		}
		tr {
			&:last-child {
				th, td {
					font-size: 24px;
					color: color(blue,400);
					font-weight: 600;
				}
			}
		}
	}
}
.order-again {
	display: none;
}
.woocommerce-customer-details {
	padding-top: 60px;
	padding-bottom: 60px;
	.woocommerce-column__title {
		color: #000000;
		font-size: 28px;
		line-height: 56px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		padding-bottom: 15px;
	}
	address {
		border: 1px solid #ECECEC;
		padding: 20px 30px;
		font-size: 20px;
		line-height: 40px;
	}
}
.payment-title {
	color: #000000;
	font-size: 28px;
	line-height: 56px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

form#order_review {
	.shop_table {
		width: 100%;
	}
}

// ADDRESS
.woocommerce-Address {
	&-title {
		position: relative;
		h3 {
			color: #000000;
			font-size: 28px;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			padding-bottom: 15px;
			padding-right: 50px;
			@media (max-width: 1536.98px) {
				font-size: 24px;
			}
		}
		.edit {
			width: auto !important;
	    height: auto !important;
	    text-indent: 0 !important;
	    position: absolute !important;
	    padding: 0px!important;
	    margin-top: 0!important;
	    text-transform: uppercase;
	    top: 15px;
	    right: 10px;
	    color: color(blue,400);
	    &:before {
	    	content: none!important;
	    }
		}
	}
	address {
		border: 1px solid #ECECEC;
		padding: 20px 30px;
		font-size: 20px;
		@media (max-width: 1536.98px) {
			font-size: 16px;
		}
	}
}
.address-title {
	color: #000000;
	font-size: 28px;
	line-height: 25px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 30px;
}
.woocommerce-address-fields,
.edit-account {
	#billing_first_name_field,
	#shipping_first_name_field,
	.form-row-first {
		width: 50%;
		padding-right: 10px;
	}
	#billing_last_name_field,
	#shipping_last_name_field,
	.form-row-last {
		width: 50%;
		padding-right: 10px;
	}
	input,
	.select2-selection {
		display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ECECEC;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 0;
    height: 60px;
	}
	label  {
		font-size: 18px;
		color: #000000;
		margin-bottom: 10px;
		@media (max-width: 1536.98px) {
			font-size: 16px;
		}
		.required {
			color: red;
			text-decoration: none;
		}
	}
	.select2-selection {
		.select2-selection__rendered {
			line-height: 45px;
			padding-left: 0;
		}
		.select2-selection__arrow {
			height: 60px;
		}
	}
	.button {
		margin-top: 30px;
		padding: 25px 40px;
		font-size: 18px;
		color: #ffffff;
		background-color: color(blue,400);
		border: none;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		@media (max-width: 1536.98px) {
			font-size: 16px;
		}
	}
}
.edit-account {
	.section-title {
		font-weight: 500;
		font-size: 28px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #000000;
		padding-top: 50px;
	}
}

/*
=====================
WISHLIST
=====================
*/
.yith-wcwl-add-to-wishlist {
	margin-top: 30px;
	.feedback,
	a,
	span {
		font-size: 18px;
		line-height: 36px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}
}
.fa-heart-o,
.fa-heart {
	padding-right: 25px;
	margin-right: 10px!important;
	display: inline;
	position: relative;
	&::before {
		content: ''!important;
		background-image: url('/images/icon/heart.svg');
		background-size: 24px;
		width: 24px;
		height: 24px;
		position: absolute;
		top: -4px;
		left: 0;
	}
}
.fa-heart {
	&::before {
		background-image: url('/images/icon/heart-solid.svg');
	}
}
.single_add_to_wishlist {
	margin-top: 30px;
}

.wishlist-title-container {
  .hidden-title-form {
    display: none!important;
  }
  	.wishlist-title {
	    width: 100%;
	    display: inline-block!important;
	    h2 {
	      font-weight: 500;
		    font-size: 64px;
		    text-align: center;
		    letter-spacing: 0.1em;
		    text-transform: uppercase;
		    color: color(blue,400);
		    margin-bottom: 120px;
		    width: 100%;
		    @media (max-width: 1536.98px) {
		    	font-size: 50px;
    			margin-bottom: 100px;
		    }
		    @media (max-width: 767.98px) {
		    	margin-bottom: 0;
		    }
      	&:hover {
        	background-color: transparent;
      	}
	    }
	    .btn.show-title-form {
	      display: none;
	    }
  	}
}
.wishlist_table {
  font-size: 100%!important;
  width: 100%;
  thead {
    @media (max-width: 768px) {
      display: none;
    }
    th{
			border-top: none!important;
			background-color: #eff2f3!important;
			color: #000000!important;
			text-align: center;
			font-size: 18px;
	    text-align: center;
	    letter-spacing: 0.05em;
	    text-transform: uppercase;
	    color: #000000;
	    padding: 20px 10px;
	    border: none;
	    @media (max-width: 1199.98px) {
	    	font-size: 16px;
	    }
    }
  }
  tr {
    td {
			color: color(blue,400)!important;
			text-align: center!important;
			font-size: 20px;
			padding-top: 50px!important;
			padding-bottom: 50px!important;
			@media (max-width: 1536.98px) {
				font-size: 16px;
			}
			a {
				color: color(blue,400)!important;
			}
			&.product-thumbnail a {
				max-width: 100%!important;
				img {
				  width: 150px!important;
				  height: auto;
				  border-radius: 15px;
				}
			}
			.wishlist-in-stock {
				color: #6FCF97;
			}
			&.product-add-to-cart {
				a {
					border: none;
			    background-color: color(blue,400);
			    font-size: 18px;
			    color: #ffffff!important;
			    text-transform: uppercase;
			    letter-spacing: 0.05em;
			    padding: 20px;
			    display: inline-block;
			    @media (max-width: 1536.98px) {
			    	font-size: 16px;
			    }
				}
			}
    }
  }
  .product-price {
    ins {
      text-decoration: none;
      font-weight: 600;
      padding-left: 10px;
    }
  }
  .product-add-to-cart a {
    display: block!important;
    &.remove_from_wishlist {
      display: none!important;
    }
  }
  .add_to_cart.button {
    border: none!important;
    padding: 0!important;
    color: #ffffff!important;
    background-color: #000000!important;
    border-radius: 0!important;
    padding: 15px 0!important;
    &:hover {
      background-color: #000000!important;
      border: none!important;
      color: #ffffff!important;
    }
  }
  .product-remove {
    a.remove {
    	width: 40px;
    	height: 40px;
    	&:before {
      	content: '';
      	position: absolute;
    		top: 50%;
    		right: 20px;
    		transform: translateY(-50%);
    		width: 40px;
    		height: 40px;
    		opacity: 1;
    		background-image: url('/images/icon/close.svg');
    		filter: brightness(0) saturate(100%) invert(44%) sepia(48%) saturate(209%) hue-rotate(155deg) brightness(97%) contrast(92%);
    		background-size: 25px;
    		background-repeat: no-repeat;
    		background-position: center;
      }
    }
  }
  &.mobile {
    padding-left: 0;
    li {
      padding-bottom: 20px;
      margin-top: 40px;
      border-bottom: 1px solid #e0e0e0;
      .item-wrapper {
        width: 100%;
        @media (max-width: 575px) {
          position: relative;
        }
        .product-thumbnail {
          max-width: 100%!important;
          width: 30%;
          @media (max-width: 600.98px) {
            margin-bottom: 20px;
          }
          @media (max-width: 575.98px) {
            width: 100%;
          }
          img {
            width: 100%!important;
            height: auto!important;
            border-radius: 15px;
          }
        }
        .item-details {
          width: 67%!important;
          position: relative;
          @media (max-width: 767.98px) {
          	width: 100%!important;
          }
          @media (max-width: 575px) {
            position: static;
            width: 100%!important;
          }
          .product-name {
            padding-right: 30px;
            h3 {
              a {
                color: #000000!important;
              }
            }
          }
          .item-details-table {
            .label {
              display: none!important;
            }
            .value {
              padding-left: 0!important;
              ins {
                text-decoration: none;
              }
            }
            bdi {
              color: #000000!important;
              font-size: 16px!important;
              font-weight: 600!important;
            }
          }
        }
        .additional-info-wrapper {
          .additional-info {
            .label {
              display: none;
            }
            .value {
              padding-left: 0!important;
              color: #000000;
              font-size: 16px;
            }
          }
          .product-add-to-cart {
            text-align: left;
            .add_to_cart.button {
              width: auto;
              padding-left: 20px!important;
              padding-right: 20px!important;
              display: inline-block!important;
            }
          }
        }
      }
      .product-remove {
        a {
          .fa-trash {
            color: #000000;
          }
        }
      }
      .product-thumbnail {
      	width: 100%!important;
      	text-align: center;
      	a {
      		display: inline-block;
      		width: 50%;
      		border: 1px solid #e0e0e0;
      		margin-bottom: 30px;
      	}
      }
      .product-name {
      	text-transform: uppercase;
      	text-align: center;
      	padding-right: 0!important;
      }
      .item-details-table {
      	width: 100%!important;
      	tbody {
      		td {
      			padding: 5px 0!important;
      		}
      	}
      }
    }
    .additional-info-wrapper {
    	table {
    		width: 100%;
    		td.label {
    			text-align: left!important;
    			padding: 5px 0!important;
    		}
    		td.value {
    			text-align: right!important;
    			padding: 5px 0!important;
    		}
    	}
    	.product-add-to-cart {
    		a {
    			padding: 15px 20px;
    			background-color: color(blue,400);
    			color: #ffffff;
    		}
    	}
    }
    th, td {
    	font-size: 16px!important;
    }
  }
}


// CART PAGE
.cart-title {
	&.section-title {
		font-weight: 500;
		font-size: 64px;
		text-align: center;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: color(blue,400);
		margin-bottom: 120px;
		@media (max-width: 1536.98px) {
			font-size: 50px;
			margin-bottom: 100px;
		}
		@media (max-width: 767.98px) {
			margin-bottom: 50px;
		}
		@media (max-width: 575.98px) {
			font-size: 36px;
		}
	}
}
.woocommerce-cart-form {
	thead {
		background: rgba(96, 125, 139, 0.1);
		@media (max-width: 767.98px) {
			display: none;
		}
		th {
			font-size: 18px;
			text-align: center;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #000000;
			padding: 20px 10px;
			border: none;
			@media (max-width: 1199.98px) {
	    	font-size: 16px;
	    }
		}
	}
	tbody {
		@media (max-width: 767.98px) {
			tr.cart_item {
				margin-bottom: 20px!important;
	    	display: block!important;
	    	border: 1px solid #e0e0e0;
	    	padding-bottom: 20px;
	    }
		}
		td {
			padding-top: 50px;
			padding-bottom: 50px;
			text-align: center;
			vertical-align: middle;
			color: color(blue,400);
			@media (max-width: 767.98px) {
				text-align: right!important;
				display: block;
				padding: 10px 20px;
				border: none;
    		&::before {
			    content: attr(data-title) " ";
			    font-weight: 600;
			    float: left;
			    text-transform: uppercase;
			    color: #000000;
			  }
			}
			&.coupon-holder {
				padding-left: 0;
				@media (max-width: 767.98px) {
					padding-right: 0;
				}
			}
			&.update-cart {
				padding-right: 0;
				@media (max-width: 767.98px) {
					padding-left: 0;
				}
				@media (max-width: 479.98px) {
					.button {
						width: 100%;
					}
				}
			}
		}
		.product-thumbnail {
			@media (max-width: 767.98px) {
				text-align: left!important;
			}
			img {
				height: 100px;
				width: auto;
				@media (max-width: 767.98px) {
					border: 1px solid #e0e0e0;
				}
			}
		}
		.product-remove {
			@media (max-width: 767.98px) {
				position: relative;
			}
			.remove {
				color: #ffffff;
				@media (max-width: 767.98px) {
					position: absolute;
					top: 20px;
					right: 10px;
				}
				&:before {
					content: "";
					background-image: url('/images/icon/close.svg');
					background-size: 20px;
    			background-repeat: no-repeat;
					filter: brightness(0) saturate(100%) invert(13%) sepia(5%) saturate(174%) hue-rotate(201deg) brightness(95%) contrast(91%);
				}
			}
		}
		@media (max-width: 767.98px) {
			.product-quantity {
				overflow: auto;
			}
		}
		.quantity {
			width: 150px;
			margin: 0 auto;
			@media (max-width: 767.98px) {
				float: right;
				margin: 0;
			}
			.form-control {
				height: 70px;
		    border-top: 1px solid #ececec;
		    border-bottom: 1px solid #ececec;
		    border-left: none;
		    border-right: none;
		    text-align: center;
		    font-size: 20px;
		    @media (max-width: 1536.98px) {
					font-size: 16px;
				}
				@media (max-width: 767.98px) {
					height: 60px;
				}
		    &:focus {
		    	box-shadow: none;
		    }
			}
			.btn-minus,
			.btn-plus {
				width: 50px;
				position: relative;
				&::after {
					content: "";
					width: 20px;
					height: 20px;
					background-size: 20px;
					background-repeat: no-repeat;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			.btn-minus {
				border-top: 1px solid #ececec;
				border-bottom: 1px solid #ececec;
				border-left: 1px solid #ececec;
				border-right: none;
				&::after {
					background-image: url('/images/icon/minus.svg');
				}
			}
			.btn-plus {
				border-top: 1px solid #ececec;
				border-bottom: 1px solid #ececec;
				border-left: none;
				border-right: 1px solid #ececec;
				border-radius: 0;
				&::after {
					background-image: url('/images/icon/plus.svg');
				}
			}
		}
		.product-subtotal {
			bdi {
				font-weight: 600;
			}
		}
		.coupon-holder {
			border-bottom: none;
			.form-control {
				height: 70px;
  			border-radius: 0;
  			&:focus {
					box-shadow: none;
				}
			}
			.button {
				border: none;
		    background-color: color(blue,400);
		    font-size: 18px;
		    color: #ffffff;
		    text-transform: uppercase;
		    letter-spacing: 0.05em;
		    padding-left: 35px;
		    padding-right: 35px;
		    @media (max-width: 1536.98px) {
					font-size: 16px;
				}
			}
		}
		.update-cart {
			text-align: right;
			border-bottom: 0;
			.button {
				height: 70px;
				border: none;
		    background-color: color(blue,400);
		    font-size: 18px;
		    color: #ffffff;
		    text-transform: uppercase;
		    letter-spacing: 0.05em;
		    padding-left: 35px;
		    padding-right: 35px;
		    @media (max-width: 1536.98px) {
					font-size: 16px;
				}
		    &:disabled {
		    	opacity: 0.8;
		    	cursor: not-allowed;
		    }
			}
		}
	}
}
.cart-collaterals {
	.cart_totals {
		border: 1px solid #ECECEC;
		padding: 30px;
		@media (max-width: 767.98px) {
			border: none;
			padding: 0;
		}
		h2 {
			font-weight: 500;
			font-size: 36px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #000000;
			@media (max-width: 767.98px) {
				font-size: 30px;
			}
			@media (max-width: 575.98px) {
				font-size: 24px;
			}
		}
		table {
			margin-top: 30px;
			width: 100%;
	    margin-bottom: 1rem;
	    color: var(--bs-table-color);
	    vertical-align: top;
	    border-color: var(--bs-table-border-color);
	    @media (max-width: 575.98px) {
	    	margin-top: 0;
	    }
	    tr {
	    	th, td {
	    		border-bottom: 1px solid #CECECE;
	    		padding-top: 15px;
	    		padding-bottom: 15px;
	    		color: #000000;
	    	}
	    	th {
	    		font-size: 20px;
					line-height: 35px;
					@media (max-width: 1536.98px) {
						font-size: 16px;
					}
	    	}
	    	td {
	    		text-align: right;
	    		font-size: 20px;
					line-height: 35px;
					@media (max-width: 1536.98px) {
						font-size: 16px;
					}
	    	}
	    	&.order-total {
	    		th, td {
	    			color: color(blue,400);
	    		}
	    	}
	    }
		}
		.wc-proceed-to-checkout {
			text-align: right;
			padding-top: 20px;
			.checkout-button {
				border: none;
		    background-color: #607D8B;
		    font-size: 18px;
		    color: #fff;
		    text-transform: uppercase;
		    letter-spacing: 0.05em;
		    padding: 20px;
		    display: inline-block;
		    @media (max-width: 1536.98px) {
					font-size: 16px;
				}
				@media (max-width: 479.98px) {
					width: 100%;
					text-align: center;
				}
		    &::after {
		    	content: none;
		    }
			}
		}
	}
}

// NOTIFICATION
.woocommerce-info,
.woocommerce-error {
	background-color: #DFE5E7;
	padding: 15px 25px;
}
.woocommerce-error {
	margin-bottom: 50px;
	background-color: #e1cdcd;
	li {
		list-style: none;
	}
}
.woocommerce-message {
	background-color: #DFE5E7;
    padding: 15px 25px;
    margin-bottom: 30px;
}

// ORDER RECEIVED
.wt-single-coupon {
	background: #607d8b!important;
    box-shadow: 0 0 0 4px #607d8b, 2px 1px 6px 4px rgb(10 10 0 / 50%)!important;
    text-shadow: -1px -1px #607d8b!important;
    color: #ffffff!important;
    border: none!important;
}
.order-received {
	&.section-title {
		font-weight: 500;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: color(blue,400);
    margin-bottom: 120px;
    @media (max-width: 1536.98px) {
			font-size: 50px;
			margin-bottom: 100px;
		}
		@media (max-width: 767.98px) {
			margin-bottom: 50px;
		}
		@media (max-width: 575.98px) {
			font-size: 36px;
		}
	}
}


// CHECKOUT
.checkout_coupon {
	border-bottom: none;
	.form-control {
		height: 70px;
		border-radius: 0;
		&:focus {
			box-shadow: none;
		}
	}
	.button {
		border: none;
	    background-color: color(blue,400);
	    font-size: 18px;
	    color: #ffffff;
	    text-transform: uppercase;
	    letter-spacing: 0.05em;
	    padding-left: 35px;
	    padding-right: 35px;
	}
}
.woocommerce-billing-fields,
.woocommerce-shipping-fields .shipping_address {
	.section-title {
		font-weight: 500;
		font-size: 36px;
		line-height: 72px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #000000;
		margin-bottom: 30px;
		@media (max-width: 767.98px) {
			font-size: 30px;
		}
		@media (max-width: 575.98px) {
			font-size: 24px;
		}
	}
	.form-row-first,
	.form-row-last {
		width: 50%;
		display: inline-block;
		@media (max-width: 767.98px) {
			width: 100%;
		}
	}
	.form-row-first {
		padding-right: 15px;
		@media (max-width: 767.98px) {
			padding-right: 0;
		}
	}
	.form-row-last {
		padding-left: 15px;
		@media (max-width: 767.98px) {
			padding-left: 0;
		}
	}
	label {
		font-size: 18px;
		line-height: 35px;
		color: #000000;
		margin-bottom: 10px;
		.required {
			text-decoration: none;
			color: red;
		}
	}
	input,
	.select2-selection,
	textarea {
		height: 50px;
		display: block;
	    width: 100%;
	    padding: 0.375rem 0.75rem;
	    font-size: 1rem;
	    font-weight: 400;
	    line-height: 1.5;
	    color: #212529;
	    background-color: #fff;
	    background-clip: padding-box;
	    border: 1px solid #ECECEC;
	    appearance: none;
	    border-radius: 0.375rem;
	    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	    border-radius: 0;
	}
	.select2-selection {
		.select2-selection__rendered {
			line-height: 36px;
			padding-left: 0;
			padding-right: 0;
		}
		.select2-selection__arrow {
			height: 50px;
		}
	}
	.select2-dropdown {
		border: 1px solid #ECECEC;
	}
}
.woocommerce-shipping-fields #ship-to-different-address,
.woocommerce-account-fields .create-account {
	span {
		color: #000000;
	}
}
@media (max-width: 767.98px) {
	.woocommerce-shipping-fields {
		margin-top: 50px;
	}
}
.woocommerce-additional-fields {
	label {
		font-weight: 400;
		font-size: 18px;
		line-height: 35px;
		color: #000000;
		margin-bottom: 15px;
		.optional {
			color: #ddd;
		}
	}
	textarea {
		display: block;
	    width: 100%;
	    padding: 0.375rem 0.75rem;
	    font-size: 1rem;
	    font-weight: 400;
	    line-height: 1.5;
	    color: #212529;
	    background-color: #fff;
	    background-clip: padding-box;
	    border: 1px solid #ECECEC;
	    appearance: none;
	    border-radius: 0.375rem;
	    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	    border-radius: 0;
	}
}
.create-account.custom-form {
	input {
		height: 50px;
		display: block;
	    width: 100%;
	    padding: 0.375rem 0.75rem;
	    font-size: 1rem;
	    font-weight: 400;
	    line-height: 1.5;
	    color: #212529;
	    background-color: #fff;
	    background-clip: padding-box;
	    border: 1px solid #ECECEC;
	    appearance: none;
	    border-radius: 0.375rem;
	    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	    border-radius: 0;
	}
	label {
		font-size: 18px;
		line-height: 35px;
		color: #000000;
		margin-bottom: 10px;
		.required {
			text-decoration: none;
			color: red;
		}
	}
}
.woocommerce-form__label-for-checkbox {
	font-weight: 400;
	font-size: 20px;
	line-height: 35px;
	color: #000000;
}

// TERM & CONDITIONS
.woocommerce-terms-and-conditions-wrapper {
	.woocommerce-form__label-for-checkbox {
		font-size: 16px;
		color: color(blue,400);
	}
	.required {
		text-decoration: none;
		color: red;
	}
}
#order_review.woocommerce-checkout-review-order {
	.section-title {
		font-weight: 500;
		font-size: 36px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #000000;
		@media (max-width: 767.98px) {
			font-size: 30px;
		}
	}
	@media (max-width: 767.98px) {
		.order-total {
			border-top: 1px solid #e0e0e0;
		}
	}
}

#order_review {
	padding: 40px;
	margin-top: 50px;
	border: 1px solid #ececec;
	@media (max-width: 767.98px) {
		padding: 0;
		border: none;
	}
	th, td {
		font-size: 20px;
		color: #000000;
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #ececec;
		@media (max-width: 1536.98px) {
			font-size: 16px;
		}
	}
	.product-total,
	.cart-subtotal td,
	.shipping td,
	.order-total td,
	.cart-discount td {
		text-align: right;
	}
	.woocommerce-checkout-review-order-table {
		width: 100%;
		@media (max-width: 767.98px) {
			display: block;
			thead,
			tbody,
			tfoot {
				display: table;
    		width: 100%;
			}
		}
	}

	#payment {
		margin-top: 50px;
		.payment_methods {
			padding-left: 0;
			li {
				list-style: none;
			}
			&>.wc_payment_method>label::before {
				color: color(blue,400);
			}
			.payment_box {
				padding-left: 30px;
			}
		}
		#place_order {
			background-color: color(blue,400);
			color: #ffffff;
			padding: 15px 30px;
			border: none;
			font-size: 18px;
			text-align: center;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			@media (max-width: 479.98px) {
				width: 100%;
			}
		}
	}
}


// SHIPPING
.woocommerce-shipping-totals {
	@media (max-width: 767.98px) {
		display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    th,
    td {
    	text-align: left !important;
	    flex: 0 0 100%;
	    width: 100%;
	    border-bottom: none;
    }
    th {
    	padding-bottom: 0;
    }
    td {
    	padding-top: 0;
    }
	}
	.accordion-item {
		border: none;
		border-radius: 0;
	}
	.accordion-button {
		background-color: transparent;
		color: #000000;
		display: inline-block;
		text-align: right;
		padding-right: 50px;
		@media (max-width: 767.98px) {
			text-align: left;
			padding-left: 0;
			width: auto;
		}
		&:after {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%) scale(-1);
			filter: brightness(0) saturate(100%) invert(49%) sepia(6%) saturate(1794%) hue-rotate(155deg) brightness(94%) contrast(84%);
		}
		&:focus {
			box-shadow: none;
		}
		&:not(.collapsed) {
			box-shadow: none;
			&:after {
				transform: translateY(-50%) scale(1);
				filter: brightness(0) saturate(100%) invert(49%) sepia(6%) saturate(1794%) hue-rotate(155deg) brightness(94%) contrast(84%);
			}
		}
		img {
			height: 20px;
		}
	}
	.accordion-body {
		@media (max-width: 767.98px) {
			padding: 0;
		}
		#shipping_method {
			padding-left: 0;
			li {
				list-style: none;
			}
		}
	}

	.shipping-calculator-form {
		.select2-container--default {
			.select2-selection--single {
				border-radius: 0;
				height: 40px;
				.select2-selection__rendered {
					line-height: 35px;
					height: 40px;
				}
				.select2-selection__arrow {
					height: 100%;
				}
			}
		}
		.button {
			background-color: color(blue,400);
	    padding: 15px 25px;
	    line-height: 1.5;
	    border: none;
	    color: #ffffff;
		}
	}
	&.shipping {
		#shipping_method {
			.list-shipping {
				input,
				label {
					display: none;
				}
				#shipping_method_0_free_shipping2,
				.shipping_method_0_free_shipping2
				#shipping_method_0_free_shipping4,
				.shipping_method_0_free_shipping4 {
					display: block;
				}
			}
		}
	}
}

// ORDER RECEIVED
.table-order-received {
	thead {
		background-color: #DFE5E7;
		@media (max-width: 767.98px) {
			display: none;
		}
		th {
			font-weight: 700;
			font-size: 18px;
			text-align: center;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			@media (max-width: 1536.98px) {
				font-size: 16px;
			}
		}
	}
	tbody {
		td {
			font-size: 20px;
			text-align: center;
			color: #676A6C;
			padding-top: 50px;
			padding-bottom: 50px;
			@media (max-width: 1536.98px) {
				font-size: 16px;
			}
			@media (max-width: 767.98px) {
				text-align: right !important;
		    display: block;
		    padding: 10px 0;
		    border: none;
		    &::before {
					content: attr(data-title) " ";
			    font-weight: 600;
			    float: left;
			    text-transform: uppercase;
			    color: #000000;
			  }
			}
		}
	}
}

.woocommerce-order-details {
	padding: 40px;
  margin-top: 50px;
  border: 1px solid #ececec;
  @media (max-width: 767.98px) {
  	padding: 0;
  	border: none;
  	margin-top: 70px;
  }
	.section-title {
		font-weight: 500;
    font-size: 36px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 30px;
    @media (max-width: 767.98px) {
    	font-size: 30px;
    	margin-bottom: 0;
    }
	}
	@media (max-width: 1536.98px) {
		.order_details {
			th, td {
				font-size: 16px!important;
			}
		}
		.product-name {
			ul {
				padding-left: 0;
				li {
					list-style: none;
				}
			}
		}
	}
}

.woocommerce-order {
	.woocommerce-customer-details {
		padding-bottom: 0;
	}
}


// MODAL VIEW CART
.xoo-cp-content {
	.xoo-cp-pdetails {
		tbody {
			width: 100%;
			display: block;
		}
		tr {
			width: 100%;
			display: flex;
			@media (max-width: 575.98px) {
				display: block;
			}
			td {
				&.xoo-cp-remove {
					display: none;
				}
				&.xoo-cp-pqty {
					display: none;
				}
				&.xoo-cp-pimg {
					width: 50%;
					display: block;
					border: 1px solid #ECECEC;
					@media (max-width: 575.98px) {
						width: 100%;
					}
					a {
						width: 100%;
						img {
							width: 100%;
							height: auto;
						}
					}
				}
				&.xoo-cp-ptitle {
					width: 50%;
    			display: block;
    			padding-left: 30px;
    			@media (max-width: 575.98px) {
    				width: 100%;
    				padding-left: 0;
    				margin-top: 20px;
    			}
    			a.title {
						font-weight: 500;
						font-size: 36px;
						letter-spacing: 0.1em;
						text-transform: uppercase;
						color: #000000;
						@media (max-width: 575.98px) {
							font-size: 24px;
						}
					}
				}
			}
		}
	}
	.xoo-cp-btns {
		text-align: left;
		.btn-standard {
			font-weight: 400;
	    width: auto;
	    padding: 10px 15px;
		}
	}
}
.xoo-cp-modal {
	.xoo-cp-container {
		padding: 30px;
		border-radius: 0;
	}
	.xoo-cp-atcn {
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 0;
		margin-bottom: 30px;
	}
	.xoo-cp-success {
		background-color: #27AE60;
		color: #ffffff;
	}
	.xoo-cp-remove,
	.xoo-cp-ptotal,
	.xoo-cp-icon-check {
		display: none;
	}
	.woocommerce-Price-amount {
		font-style: normal;
		font-weight: 500;
		font-size: 36px;
		color: color(blue,400);
		@media (max-width: 575.98px) {
			font-size: 18px;
		}
	}
	.xoo-cp-btns {
		a {
			font-size: 18px;
	    letter-spacing: 0.05em;
	    text-transform: uppercase;
	    display: block;
	    width: 70%;
	    color: #ffffff;
	    background-color: color(blue,400);
	    border-radius: 0;
	    padding: 20px 30px;
	    @media (max-width: 575.98px) {
	    	width: 100%;
	    }
		}
	}
	.xoo-cp-close {
		&::before {
			content: '';
			width: 50px;
  		height: 50px;
  		opacity: 1;
  		background-image: url('/images/icon/close.svg');
  		background-size: 25px;
  		background-repeat: no-repeat;
  		background-position: center;
  		filter: brightness(0) saturate(100%) invert(44%) sepia(48%) saturate(209%) hue-rotate(155deg) brightness(97%) contrast(92%);
  		position: absolute;
  		top: -30px;
    	right: -25px;
    	@media (max-width: 575.98px) {
    		top: 10px;
    		right: 27px;
    	}
		}
	}
	@media (max-width: 575.98px) {
		.xoo-cp-content {
			padding-top: 30px;
		}
	}
	.xoo-cp-icon-check {
		display: inline-block!important;
	}
}
.xoo-cp-notice-box {
	div {
		background-color: transparent!important;
	}
	.woocommerce-error {
		li {
			color: #000000;
		}
	}
}
.xoo-cp-icon-check,
.xoo-cp-icon-spinner {
	display: none;
	&:first-child {
		display: block;
	}
}

// COUPON
.wt_coupon_wrapper {
	.wt-single-coupon {
		box-shadow: none!important;
		border-radius: 0;
	}
	.wt-coupon-code {
		code {
			color: #ffffff;
		}
	}
} 