.scroll-down {
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%);
    z-index: 99;
    color: #ffffff;
    text-align: center;
    cursor: pointer;	
    &__desc {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    &__icon{
        height: 25px; 
        animation: move 1.4s linear infinite;
        path{
            fill: #ffffff;
        }
    }
    @keyframes move {
        0% {
            transform: translateY(0px);
            opacity: 0;
        }
        50% {
            transform: translateY(20px);
            opacity: 1;
        }
        100% {
            transform: translateY(40px);
            opacity: 0;
        }
    }

    @media only screen and (max-width: 991.98px) {
        &__desc {
            font-size: 16px;
        }
        &__icon{
            height: 20px; 
        }
    }
}