@use 'sass:math';
@use '../../_config.scss' as *;
.swiper-fraction{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.595px;
    text-transform: uppercase;
    color: color(black,200);

    &__current,
    &__from{
        display: inline-block;
        vertical-align: middle;
        padding: 16px;
    }
    &__current{
        // margin-right: -7px;
        font-weight: 700;
        color: color(blue,400);
    }
    &__separator{
        position: relative;
        top: 2px;
        vertical-align: middle;
        display: inline-block;
        width: 35px;
        height: 1px;
        background-color: color(black,200);
    }

    @media only screen and (max-width: 991.98px) {
        font-size: 20px;
    }
    @media only screen and (max-width: 575.98px) {
     
        &__current{
            padding: 0px 16px 0px 0px;
        }
        &__from{
            padding: 0px 0px 0px 16px;
        }
    }
}