@use 'sass:math';
@use "../_config.scss" as *;

.top-nav{
    position: relative;
    width:100%;
    border-bottom: 1px solid color(gray,100);
    background-color: #ffffff;
    z-index: 21;
    &__holder{
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: flex-end;
        list-style: none;
        .nav-link{
            position: relative;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.8px;
            text-transform: uppercase;
            background-color: #ffffff;
        }
        .pll-parent-menu-item{
            .dropdown-toggle{
                padding-right: 0px;
            }
            .dropdown-menu{
                min-width: 32px;
                padding: 0px;
                border-radius: 0px;
                border-color: color(gray,100);
                .dropdown-item {
                    padding: 8px 16px;
                    text-align: center;
                }
            }
        }
    }

    @media only screen and (max-width: 1919.98px) {
        &__holder{
            .nav-link{
                padding: 10px 10px;
                font-size: 14px;
            }
        }
    }

    @media only screen and (max-width: 991.98px) {
        z-index: 20000001;
        display: none;
    }
}
.navbar-custom {
    width: 100%;
    padding: 0px;
    background-color: #ffffff;
    z-index: 20;
    // border-bottom: 1px solid color(gray,100);

    .navbar-desktop{
        background-color: #ffffff;
    }

    .navbar-nav.menu-left{
        background-color: #ffffff;
        .nav-item{
            position: relative;
            margin-left: 30px;
            &:first-child{
                margin-left: 0px;
            }
            .nav-link{
                position: relative;
                cursor: pointer;
                padding: 33px 0px;
                font-size: 18px;
                font-weight: 400;
                line-height: 1;
                letter-spacing: 0.9px;
                text-transform: uppercase;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 100%;
                    height: 2px;
                    background-color: color(blue,400);
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform ease 0.4s;
                }
                &:hover,
                &.active {
                    color: color(blue,400);
                }
                &:hover::before {
                    transform: scaleX(1);
                    transform-origin: left;
                }
                &.active::before{
                    transform: scaleX(1);
                    transform-origin: left;
                }

                &__img-search{
                    max-width: 18px;
                }
            }
            
            .dropdown-menu{
                border-radius: 0px;
                margin: 0px;
                padding: 0px;
                .nav-item{
                    margin-left: 0px;

                    .dropdown-item{
                        padding: 12px 24px;
                        &:hover{
                            background-color: color(blue,500);
                            color: #ffffff;
                        }
                    }
                }
            }
            .dropdown-menu.megamenu{
                padding: 40px 50px;
                .nav-item{
                    .dropdown-item{
                        padding: 0px;
                        &:hover{
                            background-color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    .navbar-nav.menu-right{
        background-color: #ffffff;
        .nav-item{
            position: relative;
            border-left: 1px solid  #ECECEC;
            .nav-link{
                cursor: pointer;
                padding: 26px 30px;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 0.9px;
                text-transform: uppercase;
                &.close .nav-link__img-search{
                    opacity: 0;
                }
                &.close .nav-link__img-close{
                    opacity: 1;
                }
                &.search-toggle{
                    padding-right: 0px;
                }
                &__img-search{
                    opacity: 1;
                    position: relative;
                    transition: 0.4s ease;
                }
                &__img-close{
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    transform: translateY(-50%);
                    transition: 0.4s ease;
                    opacity: 0;
                }
            }
            .mini-cart-count,
            .wishlist-count{
                position: absolute;
                top: 17px;
                right: 14px;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                text-align: center;
                line-height: 25px;
                background-color: #607d8b;
                color: #fff;
                font-size: 12px;
            }
            .yith-wcwl-icon{
                width: 31px;
                height: 25px;
            }
            .yith-wcwl-icon::before {
                content: '';
                position: absolute;
                width: 31px;
                height: 31px;
                background-image: url('../../images/icon/heart.svg');
                background-size: 31px;
                background-repeat: no-repeat;
                filter: grayscale(0);
            }

            &.catalog{
                display: flex;
                align-items: center;
                background-color: color(blue,500);
                transition: 0.4s ease;

                &:hover{
                    background-color: color(blue,400);
                }
            }
            
            &.catalog .nav-link{
                color: #ffffff;
                &::before{
                    display: none;
                }
            }
        }
    }
    .navbar-toggler{
        position: relative;
        z-index: 1000;
        border: none;
        outline: none;
        padding: 0px;
        width: 34px ;

        &:focus{
            outline: none;
            box-shadow: none;
        }
    }

    @media only screen and (max-width: 1919.98px) {
        .navbar-nav.menu-left{
            .nav-item{
                margin-left: 24px;
                &:first-child{
                    margin-left: 0px;
                }
                .nav-link{
                    padding: 28px 0px;
                    font-size: 16px;
                }

                
            }
        }
        .navbar-nav.menu-right{
            .nav-item{
                .nav-link{
                    padding: 20px 24px;
                    font-size: 16px;

                    &__img-search{
                        width: 25px;
                        height: 25px;
                    }
                    &__img-close{
                        width: 22px;
                        height: 22px;
                    }
                }
                .mini-cart-count,
                .wishlist-count{
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                }
                .nav-link-icon{
                    width: 25px;
                    height: 25px;
                }
                .yith-wcwl-icon::before {
                    width: 25px;
                    height: 25px;
                    background-size: 25px;
                }
            }
        }
    }

    @media only screen and (max-width: 1199.98px) {
        .navbar-nav.menu-left{
            .nav-item{
                margin-left:16px;
                .nav-link{
                    padding: 28px 0px;
                    font-size: 14px;
                }
            }
        }
        .navbar-nav.menu-right{
            .nav-item{
                .nav-link{
                    padding: 20px 20px;
                    font-size: 14px;
                }
            }
        }
    }
    @media only screen and (max-width: 991.98px) {
        z-index: 20000000;
        .cart-wishlist-holder{
            display: none;
        }
        .navbar-collapse{
            transition: 0.1s linear;
        }
        .navbar-collapse.collapse {
            height: 100vh;
            
        }
        .navbar-nav{
            padding-top: 50px;
            .nav-item{
                margin-right: 0px;
                &:last-child{
                    margin-right: 0px;
                }
                .nav-link{
                    padding: 20px 0px;
                    font-size: 32px;
                    transition: 0.4s ease;
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 575.98px) {
        .navbar-nav{
            padding-top: 22px;
        }
    }
}


.navbar-brand{
    display: inline-block;
    padding: 12px 0px;
    &__image,
    img{
        max-width: 138px;
        height: auto;
    }

    @media only screen and (max-width: 1919.98px) {
        &__image,
        img{
            max-width: 120px;
        }
    }

    @media only screen and (max-width: 991.98px) {
        padding: 26px 0px;
        &__image,
        img{
            max-width: 107px;
        }
    }
}

.mobile-nav{
    display: none;
    margin: 0px;
    
    flex: 0 0 50%;
    align-items: center;
    justify-content: flex-end;

    &__list{
        margin: 0px;
        list-style: none;
        padding: 0px;
        display: flex;
        align-items: center;
    }
    &__item{
        position: relative;
    }

    .nav-link,
    &__link{
        position: relative;
        display: inline-block;
        padding: 12px 14px;
        cursor: pointer;
    }
    &__icon{
        width: 25px;
        height: 25px;
    }
    .mini-cart-count,
    .wishlist-count{
        position: absolute;
        top: 8px;
        right: 0px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        background-color: #607d8b;
        color: #fff;
        font-size: 10px;
    }
    .yith-wcwl-items-count{
        height: 25px;
    }
    .yith-wcwl-icon{
        width: 25px;
        height: 25px;
    }
    .yith-wcwl-icon::before {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        background-image: url('../../images/icon/heart.svg');
        background-size: 25px;
        background-repeat: no-repeat;
        filter: grayscale(0);
    }

    @media only screen and (max-width: 991.98px) {
        display: flex;
    }
}

.mobile-menu{
    .navbar-nav{
        .nav-item{
            position: relative;
            margin-bottom: 10px;
            // &:last-child{
            //     margin-bottom: 0px;
            // }
            &.search{
                display: none;
            }
            &.mini-cart{
                display: none;
            }
            &.wishlist {
                display: none;
            }
            &.catalog{
                margin-bottom: 30px;
                background-color: color(blue,500);
                transition: 0.4s ease;

                &:hover{
                    background-color: color(blue,400);
                }
            }
            &.catalog .nav-link{
                color: #ffffff;
                text-align: center;
                &::before{
                    display: none;
                }
                &:hover{
                    color:#ffffff;
                }
            }
            .nav-link{
                position: relative;
                padding: 10px 20px;
                font-size: 16px;
                font-weight: 400;
                line-height: 2;
                letter-spacing: 0.8px;
                text-transform: uppercase;
                color: color(gray,400);

                &:hover{
                    color: color(blue,400);
                }
            }
            .dropdown-menu{
                padding:0px 0px 0px 42px;
                border: none;
                border-radius: 0px;
                .nav-item{
                    margin-bottom: 0px;
                }
                .dropdown-item{
                    padding: 10px 0px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.8px;
                    text-transform: uppercase;
                    color: color(gray,400);

                    &:hover{
                        color: color(blue,400);
                        background-color: transparent;
                    }
                }
            }

            .dropdown-menu.megamenu{
                padding: 0px 0px 0px 20px;
            }
        }
    }
}

.megamenu{
    &__grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    @media only screen and (max-width: 991.98px) {
        &__grid{
            grid-template-columns: repeat(2, 1fr);
            gap: 0px 15px;
        }
    }
}

.megamenu-item {
    @include imageRatio(432,280);
    display: flex;
    align-items: center;
    justify-content: center;
    &__link{
        position: relative;
        display: inline-block;
    }

    &__image-container{
        overflow: hidden;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background: rgba(0, 0, 0, 0.50);
            z-index: 1;
        }
    }

    &__image{
        transition: 1s ease;
    }

    &__title{
        position: absolute;
        bottom: 24px;
        left: 24px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.9px;
        text-transform: uppercase;
        color: #ffffff;
        z-index: 2;
        white-space: break-spaces;
    }

    &:hover &__image{
        transform: scale(1.2);
    }

    @media only screen and (max-width: 991.98px) {
        &__link{
            padding: 0px;
        }
        &__title{
            bottom: 20px;
            left: 10px;
            font-size: 14px;
        }
    }

    @media only screen and (max-width: 575.98px) {
        &__title{
            left: 8px;
            font-size: 12px;
        }
    }
}

.navbar .megamenu{ padding: 1rem; }
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .navbar .has-megamenu{position:static!important;}
    .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }
}	
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px){
    .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
        overflow-y: auto;
        max-height: 90vh;
        margin-top:10px;
    }
}
/* ============ mobile view .end// ============ */