/* Error: @use rules must be written before any other rules.
 *    ,
 * 15 | / @use 'plugin/_tmdrPreset.scss' with (
 * 16 | |     $spacingIncrement: 15,
 * 17 | | );
 *    | '-^
 *    '
 *   source\scss\layout.scss 15:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: @use rules must be written before any other rules.\a    \2577 \a 15 \2502  \250c  @use 'plugin/_tmdrPreset.scss' with (\a 16 \2502  \2502      $spacingIncrement: 15,\a 17 \2502  \2502  );\a    \2502  \2514 \2500 ^\a    \2575 \a   source\\scss\\layout.scss 15:1  root stylesheet";
}
