body {
  position: relative;
  font-family: "Kozuka Gothic Pro";
  color: #29292A;
  transition: 0.4s ease;
}
body.no-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 100px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

a {
  transition: 0.4s ease;
  text-decoration: none;
  color: #80a0b1;
}
a:hover {
  text-decoration: none;
}

.cart-page .cart-title {
  margin-bottom: 120px;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 6.4px;
  text-transform: uppercase;
  color: #607D8B;
  text-align: center;
}
.cart-page .woocommerce-message {
  padding: 15px 20px;
  background-color: rgba(96, 125, 139, 0.1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 218.75%;
}
.cart-page .woocommerce-cart-form {
  margin-top: 30px;
}
.cart-page .woocommerce-shipping-totals .accordion-button {
  background-color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cart-page .woocommerce-shipping-totals .accordion-button:active {
  box-shadow: none;
  outline: none;
}
.cart-page .woocommerce-shipping-totals .accordion-button img {
  max-width: 50px;
}
.cart-page .woocommerce-shipping-methods {
  list-style: none;
  padding: 0px;
}
.cart-page .woocommerce-shipping-methods.shipping-hidden {
  display: none;
}
.cart-page .shop_table thead tr th {
  background-color: rgba(96, 125, 139, 0.1);
  padding: 24px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 194.444% */
  letter-spacing: 0.9px;
  text-transform: uppercase;
  text-align: center;
}
.cart-page .shop_table thead tr th.product-subtotal {
  text-align: right;
}
.cart-page .shop_table tbody tr {
  border: 1px solid transparent;
}
.cart-page .shop_table tbody tr td {
  vertical-align: middle;
  text-align: center;
  padding: 8px 24px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  color: #676A6C;
}
.cart-page .shop_table tbody tr td.product-thumbnail {
  max-width: 169px;
}
.cart-page .shop_table tbody tr td.product-thumbnail img {
  width: 169px;
  height: 169px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart-page .shop_table tbody tr td.product-thumbnail,
.cart-page .shop_table tbody tr td.product-quantity,
.cart-page .shop_table tbody tr td.product-price,
.cart-page .shop_table tbody tr td.product-subtotal {
  width: 250px;
}
.cart-page .shop_table tbody tr td.product-subtotal {
  text-align: right;
}
.cart-page .shop_table tbody tr td.coupon-holder {
  padding: 30px 0px;
}
.cart-page .shop_table tbody tr td.update-cart {
  text-align: right;
  padding: 30px 0px;
}
.cart-page .shop_table tbody tr.coupon-holder-wrapper {
  position: relative;
}
.cart-page .shop_table tbody tr.coupon-holder-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0px;
  height: 1px;
  background-color: #ECECEC;
}
.cart-page .cart_totals {
  padding: 40px;
  border: 1px solid #ececec;
}
.cart-page .cart_totals .cart_totals-title {
  margin-bottom: 60px;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.cart-page .cart_totals .shop_table {
  margin-bottom: 40px;
  width: 100%;
}
.cart-page .cart_totals .shop_table tr th {
  min-width: 150px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 175%;
}
.cart-page .cart_totals .shop_table tr th.product-subtotal {
  text-align: right;
}
.cart-page .cart_totals .shop_table tbody tr {
  border-bottom: 1px solid #ececec;
}
.cart-page .cart_totals .shop_table tbody tr td {
  vertical-align: middle;
  text-align: left;
  padding: 24px 24px;
}
.cart-page .cart_totals .shop_table tbody tr td bdi {
  font-weight: 500;
}
.cart-page .cart_totals .shop_table tbody tr.order-total {
  color: #607D8B;
  font-weight: 500;
}
.cart-page .cart_totals .shop_table tbody tr.order-total td {
  color: #607D8B;
}
.cart-page .cart_totals .wc-proceed-to-checkout {
  text-align: right;
}
@media only screen and (max-width: 991.98px) {
  .cart-page .cart-title {
    margin-bottom: 100px;
    font-size: 36px;
  }
  .cart-page .quantity {
    max-width: 200px;
    margin-left: auto;
  }
  .cart-page .shop_table thead {
    display: none;
  }
  .cart-page .shop_table tbody tr {
    display: block;
    border: 1px solid #ececec;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .cart-page .shop_table tbody tr td {
    display: block;
    text-align: right;
    width: 100% !important;
    border: none;
    font-size: 16px;
  }
  .cart-page .shop_table tbody tr td::before {
    content: attr(data-title) " ";
    font-weight: 600;
    float: left;
    text-transform: uppercase;
    color: #29292A;
  }
  .cart-page .shop_table tbody tr td.product-thumbnail {
    max-width: 140px;
  }
  .cart-page .shop_table tbody tr td.product-thumbnail img {
    width: 140px;
    height: 140px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .cart-page .shop_table tbody tr td.product-remove .remove {
    position: relative;
    right: -12px;
    margin-left: auto;
  }
  .cart-page .shop_table tbody tr td.coupon-holder {
    order: 2;
  }
  .cart-page .shop_table tbody tr td.update-cart {
    padding: 10px 0px;
    order: 1;
  }
  .cart-page .shop_table tbody tr td.update-cart .button {
    display: block;
    width: 100%;
  }
  .cart-page .shop_table tbody tr.coupon-holder-wrapper {
    display: flex;
    flex-direction: column;
    border: none;
  }
  .cart-page .shop_table tbody tr.coupon-holder-wrapper::after {
    display: none;
  }
  .cart-page .cart_totals {
    padding: 0px;
    border: 1px solid transparent;
  }
  .cart-page .cart_totals .cart_totals-title {
    margin-bottom: 24px;
    font-size: 24px;
  }
  .cart-page .cart_totals .shop_table {
    margin-bottom: 40px;
    width: 100%;
  }
  .cart-page .cart_totals .shop_table tr {
    border: none;
    display: flex;
  }
  .cart-page .cart_totals .shop_table tr th {
    min-width: 150px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 175%;
  }
  .cart-page .cart_totals .shop_table tr th.product-subtotal {
    text-align: right;
  }
  .cart-page .cart_totals .shop_table tbody tr td {
    vertical-align: middle;
    text-align: right;
    padding: 0px;
  }
  .cart-page .cart_totals .shop_table tbody tr td::before {
    display: none;
  }
  .cart-page .cart_totals .wc-proceed-to-checkout .checkout-button {
    width: 100%;
  }
}

/*# sourceMappingURL=cart.css.map*/