body {
  position: relative;
  font-family: "Kozuka Gothic Pro";
  color: #29292A;
  transition: 0.4s ease;
}
body.no-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 100px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

a {
  transition: 0.4s ease;
  text-decoration: none;
  color: #80a0b1;
}
a:hover {
  text-decoration: none;
}

.btn,
.woocommerce-Button--alt,
button[name=calc_shipping] {
  padding: 12px;
  font-size: 18px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  border-radius: 0px;
  font-weight: 400;
  transition: 0.4s ease;
}
@media only screen and (max-width: 1919.98px) {
  .btn,
  .woocommerce-Button--alt,
  button[name=calc_shipping] {
    font-size: 16px;
  }
}
@media only screen and (max-width: 991.98px) {
  .btn,
  .woocommerce-Button--alt,
  button[name=calc_shipping] {
    font-size: 14px;
  }
}

.btn-close {
  outline: none;
  box-shadow: none;
}
.btn-close:focus {
  outline: none;
  box-shadow: none;
}

.btn.btn-primary,
.woocommerce-Button--alt,
button[name=calc_shipping] {
  color: #ffffff;
  background-color: #607D8B;
  border: 1px solid #607D8B;
}
.btn.btn-primary:hover,
.woocommerce-Button--alt:hover,
button[name=calc_shipping]:hover {
  color: #ffffff;
  background-color: #80a0b1;
  border-color: #80a0b1;
}
.btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:first-child:active,
.woocommerce-Button--alt:focus,
.woocommerce-Button--alt:active,
.woocommerce-Button--alt:first-child:active,
button[name=calc_shipping]:focus,
button[name=calc_shipping]:active,
button[name=calc_shipping]:first-child:active {
  color: #ffffff;
  background-color: #607D8B;
  border-color: #607D8B;
}
.btn.btn-primary.disabled,
.woocommerce-Button--alt.disabled,
button[name=calc_shipping].disabled {
  color: #ffffff;
}

.btn-secondary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #80a0b1;
  padding: 12px 40px;
}
.btn-secondary:hover {
  background-color: #F2F5F9;
  border-color: #F2F5F9;
  color: #80a0b1;
}
.btn-secondary:focus, .btn-secondary:active, .btn-secondary:first-child:active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #80a0b1;
}

.btn-standard, .btn-standard--white {
  position: relative;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #29292A;
}
.btn-standard:before, .btn-standard--white:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #29292A;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
  transform: scaleX(1);
}
.btn-standard:after, .btn-standard--white:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #29292A;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
  transition-delay: 250ms;
}
.btn-standard:hover, .btn-standard--white:hover {
  color: #29292A;
}
.btn-standard:hover:after, .btn-standard--white:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  transition-delay: 250ms;
}
.btn-standard:hover:before, .btn-standard--white:hover:before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.btn-standard--white {
  color: #ffffff;
}
.btn-standard--white:before, .btn-standard--white::after {
  background-color: #ffffff;
}
.btn-standard--white:hover {
  color: #ffffff;
}
@media only screen and (max-width: 1399.98px) {
  .btn-standard, .btn-standard--white {
    font-size: 18px;
    line-height: 18px;
  }
}
@media only screen and (max-width: 991.98px) {
  .btn-standard, .btn-standard--white {
    font-size: 16px;
    line-height: 13px;
  }
}

.btn-login {
  display: block;
  width: 100%;
}

a.remove::before {
  content: url("https://api.iconify.design/ic/round-close.svg") !important;
  transition: 0.4s ease;
}
a.remove:hover::before {
  content: url("https://api.iconify.design/ic/round-close.svg?color=%23f36969") !important;
}

.yith-wcwl-add-button .delete_item {
  color: transparent;
}

.form-check .form-check-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
}
.form-check__count {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #A1A1A1;
}

/*-----------------------------------------
//////////////// FORM SETUP ///////////////
-----------------------------------------*/
select,
textarea,
.form-control-custom,
.form-control,
.input-text {
  position: relative;
  width: 100%;
  padding: 10px 15px;
  border-radius: 0px;
  box-sizing: border-box;
  transition: 0.4s ease;
  border: 1px solid #ececec;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  color: #232526;
  background-color: #ffffff;
}
select:focus,
textarea:focus,
.form-control-custom:focus,
.form-control:focus,
.input-text:focus {
  border: 1px solid #80a0b1;
  box-shadow: none;
  outline: none;
  background-color: #ffffff;
}
select::-moz-placeholder, textarea::-moz-placeholder, .form-control-custom::-moz-placeholder, .form-control::-moz-placeholder, .input-text::-moz-placeholder {
  color: #E5E5E5;
  font-weight: 400;
}
select::placeholder,
textarea::placeholder,
.form-control-custom::placeholder,
.form-control::placeholder,
.input-text::placeholder {
  color: #E5E5E5;
  font-weight: 400;
}
select.wpcf7-not-valid,
textarea.wpcf7-not-valid,
.form-control-custom.wpcf7-not-valid,
.form-control.wpcf7-not-valid,
.input-text.wpcf7-not-valid {
  padding-right: 42px;
  background: url("https://api.iconify.design/ion/alert-circle.svg?color=%23cb3a31") no-repeat center center/contain;
  background-repeat: no-repeat;
  background-position: right 18px center;
  background-size: 24px 24px;
  border: 1px solid #CB3A31;
}
@media only screen and (max-width: 1919.98px) {
  select,
  textarea,
  .form-control-custom,
  .form-control,
  .input-text {
    font-size: 16px;
    line-height: 1.7;
  }
}

select,
.form-select {
  background-image: url("https://api.iconify.design/carbon/chevron-down.svg") no-repeat center center/contain;
  background-size: 16px 16px;
  padding: 10px 20px;
  padding-right: 40px;
  border: 1px solid #ececec;
  border-radius: 0;
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wpcf7-textarea {
  max-height: 130px;
}

.wpcf7-not-valid-tip {
  margin-top: 8px;
  font-size: 14px;
  line-height: 24px;
  color: #CB3A31;
}

/*-----------------------------------------
//////////////////////////////// FORM SETUP
-----------------------------------------*/
.wpcf7-form-control-wrap {
  position: relative;
}

.quantity .form-control {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-left: none;
  border-right: none;
  text-align: center;
  font-size: 20px;
}
.quantity .form-control:focus {
  box-shadow: none;
}
.quantity .btn-minus,
.quantity .btn-plus {
  width: 50px;
  position: relative;
}
.quantity .btn-minus::after,
.quantity .btn-plus::after {
  content: "";
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quantity .btn-minus {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: none;
}
.quantity .btn-minus::after {
  background: url("https://api.iconify.design/ic/round-minus.svg?color=black") no-repeat center center/contain;
}
.quantity .btn-plus {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  border-left: none;
  border-right: 1px solid #ececec;
  border-radius: 0;
}
.quantity .btn-plus::after {
  background: url("https://api.iconify.design/ic/round-plus.svg?color=black") no-repeat center center/contain;
}
@media only screen and (max-width: 991.98px) {
  .quantity .form-control {
    height: 50px;
    font-size: 16px;
  }
  .quantity .form-control:focus {
    box-shadow: none;
  }
}

.select2-container {
  display: block;
  width: auto !important;
}

.select2-container--default .select2-selection--single {
  background-color: #ffffff;
  border: 1px solid #ececec;
  border-radius: 0px;
  padding: 12px;
  height: 52px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #607D8B;
  color: #ffffff;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #ececec;
  outline: none;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid #ced4da;
}

input[type=checkbox] {
  position: relative;
  height: 32px;
  width: 32px;
  line-height: 35px;
  border: 1px solid;
  vertical-align: middle;
}

input[type=checkbox]:before,
input[type=checkbox]:checked:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #607D8B;
}

input[type=checkbox]:checked:after {
  content: "";
  height: 17px;
  width: 10px;
  top: 43%;
  left: 50%;
  border-bottom: 2px solid #607D8B;
  border-right: 2px solid #607D8B;
  position: absolute;
  transform: translate(-50%, -50%) rotate(41deg);
}

.woocommerce-shipping-methods li {
  position: relative;
}
.woocommerce-shipping-methods .shipping_method {
  visibility: hidden;
}
.woocommerce-shipping-methods .shipping_method:checked + label:after {
  transition: all 0.5s;
  background-color: #607D8B;
}
.woocommerce-shipping-methods label {
  padding-left: 30px;
  font-size: 18px;
}
.woocommerce-shipping-methods label::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 10px;
  width: 20px;
  height: 20px;
  outline: solid 3px #80a0b1;
  border-radius: 50%;
}
.woocommerce-shipping-methods label:after {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 14px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.woocommerce-Payment .input-radio {
  visibility: hidden;
}
.woocommerce-Payment .input-radio:checked + label:after {
  transition: all 0.5s;
  background-color: #607D8B;
}
.woocommerce-Payment .input-radio + label {
  position: relative;
  padding-left: 30px;
  font-size: 18px;
}
.woocommerce-Payment .input-radio + label::before {
  content: "" !important;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 10px;
  width: 20px;
  height: 20px;
  outline: solid 3px #80a0b1;
  border-radius: 50%;
}
.woocommerce-Payment .input-radio + label:after {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 14px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.modal-superiority__image-container,
.modal-register__image-container {
  position: relative;
  width: 100%;
  display: block;
}
.modal-superiority__image-container img,
.modal-register__image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal-superiority__image-container:before,
.modal-register__image-container:before {
  content: "";
  display: block;
  padding-top: 39.0714285714%;
}
.modal-superiority .modal-header,
.modal-register .modal-header {
  position: absolute;
  top: 0px;
  right: 0px;
  border-bottom: none;
  z-index: 2;
  width: 100%;
}
.modal-superiority .modal-content,
.modal-register .modal-content {
  position: relative;
  border-radius: 0px;
}
.modal-superiority .modal-body,
.modal-register .modal-body {
  padding: 0px;
}
.modal-superiority .btn-close,
.modal-register .btn-close {
  background: #393737;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  box-shadow: none;
  transition: 0.7s ease;
}
.modal-superiority .btn-close:active,
.modal-register .btn-close:active {
  outline: none;
  box-shadow: none;
}
.modal-superiority .btn-close:hover,
.modal-register .btn-close:hover {
  transform: rotate(360deg);
}
.modal-superiority__title,
.modal-register__title {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 700;
  line-height: 50px;
  color: #a8ccdf;
}
.modal-superiority__content,
.modal-register__content {
  font-size: 24px;
  font-weight: 400;
  line-height: 43px;
  color: #29292A;
}
.modal-superiority__info-container,
.modal-register__info-container {
  padding: 60px 72px;
}
@media only screen and (max-width: 1919.98px) {
  .modal-superiority__title,
  .modal-register__title {
    margin-bottom: 1.5625vw;
    font-size: 2.29166vw;
    line-height: 2.604166vw;
  }
  .modal-superiority__content,
  .modal-register__content {
    font-size: 1.25vw;
    line-height: 1.5;
  }
  .modal-superiority__info-container,
  .modal-register__info-container {
    padding: 2.325vw 3.166vw;
  }
}
@media only screen and (max-width: 1199.98px) {
  .modal-superiority__title,
  .modal-register__title {
    font-size: 24px;
    line-height: 1.7;
  }
  .modal-superiority__content,
  .modal-register__content {
    font-size: 14px;
    line-height: 1.7;
  }
}
@media only screen and (max-width: 991.98px) {
  .modal-superiority__image-container,
  .modal-register__image-container {
    position: relative;
    width: 100%;
    display: block;
  }
  .modal-superiority__image-container img,
  .modal-register__image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .modal-superiority__image-container:before,
  .modal-register__image-container:before {
    content: "";
    display: block;
    padding-top: 68.1818181818%;
  }
  .modal-superiority__info-container,
  .modal-register__info-container {
    padding: 24px;
  }
}

.modal-register__title {
  margin-bottom: 40px;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 82px;
  color: #232526;
}
.modal-register__content {
  padding: 60px;
}
.modal-register__grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.modal-register__grid .form-group:nth-child(1), .modal-register__grid .form-group:nth-child(6), .modal-register__grid .form-group:nth-child(7) {
  grid-column: span 2;
}
.modal-register__action {
  margin-top: 30px;
}
.modal-register__art {
  position: absolute;
  bottom: 0px;
  right: 0px;
  max-width: 667px;
  height: auto;
}
@media only screen and (max-width: 1919.98px) {
  .modal-register__title {
    margin-bottom: 2.0833vw;
    font-size: 3.75vw;
    line-height: 1.7;
  }
  .modal-register__content {
    padding: 3.125vw;
  }
  .modal-register__art {
    max-width: 34.7395833vw;
  }
}
@media only screen and (max-width: 991.98px) {
  .modal-register__title {
    margin-bottom: 24px;
    font-size: 24px;
  }
}
@media only screen and (max-width: 575.98px) {
  .modal-register__action {
    display: grid;
  }
  .modal-register__content {
    padding: 24px;
  }
}
@media only screen and (max-width: 380px) {
  .modal-register__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .modal-register__grid .form-group:nth-child(1), .modal-register__grid .form-group:nth-child(6), .modal-register__grid .form-group:nth-child(7) {
    grid-column: 1/-1;
  }
}

:root {
  --section-padding: 100px;
}

@media only screen and (max-width: 1919.98px) {
  :root {
    --section-padding: 5.20833vw;
  }
}
@media only screen and (max-width: 991.98px) {
  :root {
    --section-padding: 72px;
  }
}
@media only screen and (max-width: 767.98px) {
  :root {
    --section-padding: 60px;
  }
}
@media only screen and (max-width: 575.98px) {
  :root {
    --section-padding: 40px;
  }
}
.section-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #29292A;
}
@media only screen and (max-width: 1919.98px) {
  .section-title {
    font-size: 32px;
    line-height: 1.7;
  }
}

.section-content {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  color: #676A6C;
}
@media only screen and (max-width: 1919.98px) {
  .section-content {
    font-size: 16px;
    line-height: 1.5;
  }
}

.section-padding, .section-padding--medium, .section-padding--top, .section-padding--medium-top, .section-padding--bottom, .section-padding--medium-bottom {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.section-padding--bottom, .section-padding--medium-bottom {
  padding-top: 0px;
  padding-bottom: var(--section-padding);
}
.section-padding--top, .section-padding--medium-top {
  padding-top: var(--section-padding);
  padding-bottom: 0px;
}
.section-padding--medium {
  padding-top: var(--section-padding-medium);
  padding-bottom: var(--section-padding-medium);
}
.section-padding--medium-top {
  padding-top: var(--section-padding-medium);
}
.section-padding--medium-bottom {
  padding-bottom: var(--section-padding-medium);
}

.scroll-down {
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 120px;
  transform: translateX(-50%);
  z-index: 99;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.scroll-down__desc {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.scroll-down__icon {
  height: 25px;
  animation: move 1.4s linear infinite;
}
.scroll-down__icon path {
  fill: #ffffff;
}
@keyframes move {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 1;
  }
  100% {
    transform: translateY(40px);
    opacity: 0;
  }
}
@media only screen and (max-width: 991.98px) {
  .scroll-down__desc {
    font-size: 16px;
  }
  .scroll-down__icon {
    height: 20px;
  }
}

.home-banner {
  position: relative;
}
.home-banner .swiper-pagination-fraction,
.home-banner .swiper-pagination-custom,
.home-banner .swiper-horizontal > .swiper-pagination-bullets,
.home-banner .swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 50%;
  right: 58px;
  bottom: unset;
  left: unset;
  width: 5px;
  transform: translateY(-50%);
}
.home-banner .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.home-banner .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0px;
  display: block;
  height: 30px;
  border-radius: 0;
  width: 5px;
  transition: 0.4s ease;
}
.home-banner .swiper-pagination-bullet-active {
  background: #ffffff;
}
.home-banner__video, .home-banner__image {
  width: 100%;
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 1919.98px) {
  .home-banner .swiper-pagination-fraction,
  .home-banner .swiper-pagination-custom,
  .home-banner .swiper-horizontal > .swiper-pagination-bullets,
  .home-banner .swiper-pagination-bullets.swiper-pagination-horizontal {
    right: 3.020833vw;
  }
}

.card-category {
  position: relative;
  background-color: blue;
}
.card-category__image-container {
  position: relative;
  width: 100%;
  display: block;
}
.card-category__image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-category__image-container:before {
  content: "";
  display: block;
  padding-top: 73.4693877551%;
}
.card-category__link {
  display: inline-block;
}
.card-category__logo-container {
  position: absolute;
  bottom: 16px;
  left: 16px;
}
.card-category__logo {
  max-width: 150px;
  height: auto;
}
.card-category__logo-text {
  display: none;
}
@media only screen and (max-width: 1399.98px) {
  .card-category__logo {
    max-width: 100px;
    height: auto;
  }
}
@media only screen and (max-width: 991.98px) {
  .card-category__image-container {
    max-height: 250px;
  }
}

.home-categories__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.home-categories__grid {
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}
.home-categories__grid .card-category:nth-child(7n+1) {
  grid-column: 1/5;
}
.home-categories__grid .card-category:nth-child(7n+2) {
  grid-column: 5/9;
}
.home-categories__grid .card-category:nth-child(7n+3) {
  grid-column: 9/-1;
}
.home-categories__grid .card-category:nth-child(7n+4) {
  grid-column: 1/4;
}
.home-categories__grid .card-category:nth-child(7n+5) {
  grid-column: 4/7;
}
.home-categories__grid .card-category:nth-child(7n+6) {
  grid-column: 7/10;
}
.home-categories__grid .card-category:nth-child(7n+7) {
  grid-column: 10/-1;
}
@media only screen and (max-width: 1399.98px) {
  .home-categories__header {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 991.98px) {
  .home-categories__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
  }
  .home-categories__header {
    margin-bottom: 42px;
  }
}
@media only screen and (max-width: 767.98px) {
  .home-categories__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .home-categories__grid .card-category:nth-child(7n+1) {
    grid-column: unset;
  }
  .home-categories__grid .card-category:nth-child(7n+2) {
    grid-column: unset;
  }
  .home-categories__grid .card-category:nth-child(7n+3) {
    grid-column: unset;
  }
  .home-categories__grid .card-category:nth-child(7n+4) {
    grid-column: unset;
  }
  .home-categories__grid .card-category:nth-child(7n+5) {
    grid-column: unset;
  }
  .home-categories__grid .card-category:nth-child(7n+6) {
    grid-column: unset;
  }
  .home-categories__grid .card-category:nth-child(7n+7) {
    grid-column: unset;
  }
  .home-categories__grid .card-category:last-child {
    grid-column: span 2;
  }
  .home-categories__action {
    display: none;
  }
}

.home-about__image-container {
  position: relative;
  width: 100%;
  display: block;
}
.home-about__image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-about__image-container:before {
  content: "";
  display: block;
  padding-top: 41.5384615385%;
}
.home-about__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}
.home-about__info-container {
  grid-column: 2/6;
}
.home-about__image-container {
  grid-column: 7/-1;
}
@media only screen and (max-width: 991.98px) {
  .home-about__image-container {
    position: relative;
    width: 100%;
    display: block;
  }
  .home-about__image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home-about__image-container:before {
    content: "";
    display: block;
    padding-top: 54.9450549451%;
  }
  .home-about__info-container {
    grid-column: 1/-1;
    margin-bottom: 42px;
  }
  .home-about__image-container {
    grid-column: 1/-1;
  }
}
.card-product {
  position: relative;
}
.card-product__image-container {
  position: relative;
  width: 100%;
  display: block;
}
.card-product__image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-product__image-container:before {
  content: "";
  display: block;
  padding-top: 106.0606060606%;
}
.card-product__image-container {
  margin-bottom: 30px;
  overflow: hidden;
}
.card-product__image-container img {
  transition: 1s ease;
}
.card-product__title {
  color: #232526;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 175%;
}
.card-product__price {
  color: #607D8B;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 250%;
}
.card-product__price del {
  padding-right: 10px;
  color: rgba(96, 125, 139, 0.5);
  font-size: 20px;
}
.card-product__on-sale {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 175%;
  background: #607D8B;
  color: #ffffff;
  z-index: 1;
}
.card-product:hover .card-product__image-container img {
  transform: scale(1.1);
}
@media only screen and (max-width: 1399.98px) {
  .card-product__title {
    font-size: 18px;
  }
  .card-product__price {
    color: #607D8B;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
  }
  .card-product__price del {
    padding-right: 10px;
    color: rgba(96, 125, 139, 0.5);
    font-size: 20px;
  }
  .card-product__on-sale {
    font-size: 14px;
    padding: 8px;
  }
}

.featured-product__header {
  margin-bottom: 60px;
}
.featured-product__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media only screen and (max-width: 1399.98px) {
  .featured-product__header {
    margin-bottom: 50px;
  }
  .featured-product__grid {
    gap: 24px;
  }
}
@media only screen and (max-width: 991.98px) {
  .featured-product__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .featured-product__header {
    margin-bottom: 42px;
  }
}
@media only screen and (max-width: 575.98px) {
  .featured-product__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card-otherlink {
  position: relative;
}
.card-otherlink__image-container {
  position: relative;
  width: 100%;
  display: block;
}
.card-otherlink__image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-otherlink__image-container:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.card-otherlink .btn-standard--white::before, .card-otherlink .btn-standard--white::after {
  bottom: -10px;
}
.card-otherlink::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.card-otherlink__image-container {
  overflow: hidden;
}
.card-otherlink__image {
  transition: 1s ease;
}
.card-otherlink__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  z-index: 3;
}
.card-otherlink__action {
  position: absolute;
  bottom: 42px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.card-otherlink:hover .card-otherlink__image {
  transform: scale(1.2) rotate(2deg);
}
@media only screen and (max-width: 1399.98px) {
  .card-otherlink__title {
    font-size: 24px;
  }
}
@media only screen and (max-width: 991.98px) {
  .card-otherlink__title {
    font-size: 20px;
  }
  .card-otherlink__image-container {
    max-height: 350px;
  }
}

.other-link__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media only screen and (max-width: 1399.98px) {
  .other-link__grid {
    gap: 24px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .other-link__grid {
    gap: 20px;
  }
}
@media only screen and (max-width: 991.98px) {
  .other-link__grid {
    gap: 16px;
  }
}
@media only screen and (max-width: 991.98px) {
  .other-link__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .other-link .card-otherlink:last-child {
    grid-column: span 2;
  }
}
@media only screen and (max-width: 575.98px) {
  .other-link__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .other-link .card-otherlink:last-child {
    grid-column: span 1;
  }
}

/*# sourceMappingURL=home.css.map*/