body {
  position: relative;
  font-family: "Kozuka Gothic Pro";
  color: #29292A;
  transition: 0.4s ease;
}
body.no-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 100px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

a {
  transition: 0.4s ease;
  text-decoration: none;
  color: #80a0b1;
}
a:hover {
  text-decoration: none;
}

.card-registerlogin {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2.5fr 3fr;
  align-items: center;
  background-color: #ffffff;
}
.card-registerlogin__image-container {
  position: relative;
  width: 100%;
  display: block;
}
.card-registerlogin__image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-registerlogin__image-container:before {
  content: "";
  display: block;
  padding-top: 121.6949152542%;
}
.card-registerlogin label {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 194.444%;
}
.card-registerlogin label .required {
  color: #EB5757;
}
.card-registerlogin__lost-password {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 194.444%;
}
.card-registerlogin__image-container {
  height: 100%;
}
.card-registerlogin__form-container {
  padding: 50px 80px;
}
.card-registerlogin__title {
  margin-bottom: 30px;
  color: #607D8B;
}
.card-registerlogin__btn {
  width: 100%;
  display: block;
}
.card-registerlogin__remember-me {
  display: inline-block;
  margin: 15px 0px 30px !important;
}
@media only screen and (max-width: 1919.98px) {
  .card-registerlogin__form-container {
    padding: 2.604166vw 4.166vw;
  }
}
@media only screen and (max-width: 1399.98px) {
  .card-registerlogin label, .card-registerlogin__lost-password {
    margin-bottom: 8px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 991.98px) {
  .card-registerlogin .woocommerce-privacy-policy-text {
    font-size: 14px;
  }
  .card-registerlogin labe, .card-registerlogin__lost-passwordl {
    margin-bottom: 6px;
    font-size: 14px;
  }
  .card-registerlogin__title {
    margin-bottom: 14px;
  }
}
@media only screen and (max-width: 767.98px) {
  .card-registerlogin {
    grid-template-columns: 1fr;
  }
  .card-registerlogin__image-container {
    position: relative;
    width: 100%;
    display: block;
  }
  .card-registerlogin__image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card-registerlogin__image-container:before {
    content: "";
    display: block;
    padding-top: 87.9396984925%;
  }
  .card-registerlogin__image-container {
    margin-bottom: 64px;
  }
}

.my-account .woocommerce label {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
}
.my-account .woocommerce .my-account-title {
  margin-bottom: 120px;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 6.4px;
  text-transform: uppercase;
  color: #607D8B;
  text-align: center;
}
.my-account .woocommerce .woocommerce-error {
  color: red;
}
.my-account .woocommerce .woocommerce-Button {
  margin-top: 40px;
}
.my-account .woocommerce .btn-reset-password {
  margin-top: 10px;
}
.my-account .woocommerce-MyAccount-navigation ul {
  padding: 10px;
  list-style: none;
  border: 1px solid #ececec;
}
.my-account .woocommerce-MyAccount-navigation li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: 1px solid #ececec;
}
.my-account .woocommerce-MyAccount-navigation li:last-child {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}
.my-account .woocommerce-MyAccount-navigation li.is-active a {
  color: #607D8B;
}
.my-account .woocommerce-MyAccount-navigation a {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #676A6C;
  transition: 0.4s ease;
}
.my-account .woocommerce-MyAccount-navigation a::before {
  transition: 0.4s ease;
  display: none;
}
.my-account .woocommerce-MyAccount-navigation a:hover {
  color: #607D8B;
}
.my-account .woocommerce-MyAccount-navigation a:hover::before {
  color: #607D8B;
  opacity: 1;
}
.my-account .woocommerce-MyAccount-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
}
.my-account .woocommerce-PaymentMethods {
  list-style: none;
  padding: 0px;
}
.my-account .password-change {
  margin-top: 72px;
}

.shop_table {
  width: 100%;
}
.shop_table .woocommerce-orders-table__cell {
  padding: 16px 0px;
}

/*# sourceMappingURL=my-account.css.map*/