.page-header {
  position: relative;
}
.page-header__image-container {
  position: relative;
  width: 100%;
  display: block;
}
.page-header__image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-header__image-container:before {
  content: "";
  display: block;
  padding-top: 27.0833333333%;
}
.page-header__image-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #1D242D 0%, rgba(29, 36, 45, 0) 100%);
  z-index: 0;
}
.page-header__container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.page-header__title {
  font-weight: 500;
  font-size: 64px;
  line-height: 128px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  z-index: 1;
}

.card-product {
  position: relative;
}
.card-product__image-container {
  position: relative;
  width: 100%;
  display: block;
}
.card-product__image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-product__image-container:before {
  content: "";
  display: block;
  padding-top: 106.0606060606%;
}
.card-product__image-container {
  margin-bottom: 30px;
  overflow: hidden;
}
.card-product__image-container img {
  transition: 1s ease;
}
.card-product__title {
  color: #232526;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 175%;
}
.card-product__price {
  color: #607D8B;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 250%;
}
.card-product__price del {
  padding-right: 10px;
  color: rgba(96, 125, 139, 0.5);
  font-size: 20px;
}
.card-product__on-sale {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 175%;
  background: #607D8B;
  color: #ffffff;
  z-index: 1;
}
.card-product:hover .card-product__image-container img {
  transform: scale(1.1);
}
@media only screen and (max-width: 1399.98px) {
  .card-product__title {
    font-size: 18px;
  }
  .card-product__price {
    color: #607D8B;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
  }
  .card-product__price del {
    padding-right: 10px;
    color: rgba(96, 125, 139, 0.5);
    font-size: 20px;
  }
  .card-product__on-sale {
    font-size: 14px;
    padding: 8px;
  }
}

.product-detail del,
.product-detail ins {
  font-size: 36px;
  color: #607D8B;
}
.product-detail ins {
  text-decoration: none;
}
.product-detail .woocommerce-product-gallery .wpgs-lightbox-icon::before {
  content: none !important;
}
.product-detail .woocommerce-product-gallery .woocommerce-product-gallery__image a {
  width: 100%;
  height: 100%;
}
.product-detail .woocommerce-product-gallery .woocommerce-product-gallery__image a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-detail .woocommerce-product-gallery .flex-control-thumbs {
  padding-left: 0;
}
.product-detail .woocommerce-product-gallery .flex-control-thumbs li {
  display: inline-block;
}
.product-detail .woocommerce-product-gallery .slick-slide img {
  width: 100%;
  height: 100%;
}
.product-detail .woocommerce-product-gallery .wpgs-nav .slick-slide {
  border: none;
  padding-left: 25px;
  padding-right: 25px;
}
.product-detail .woocommerce-product-gallery .wpgs-nav .slick-slide img {
  width: 85%;
  height: 85%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-detail .woocommerce-product-gallery .wpgs-nav .slick-slide.slick-current img {
  width: 100%;
  height: 100%;
}
.product-detail .woocommerce-product-gallery {
  position: relative;
}
.product-detail .woocommerce-product-gallery__trigger {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
}
.product-detail .woocommerce-Price-amount {
  font-weight: 500;
  color: #607D8B;
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;
  vertical-align: middle;
}
.product-detail .woocommerce-Price-amount bdi {
  vertical-align: middle;
}
.product-detail .product_title {
  font-weight: 500;
  font-size: 36px;
  line-height: 72px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #29292A;
}
.product-detail .woocommerce-variation-add-to-cart {
  display: flex;
  align-items: center;
}
.product-detail .woocommerce-tabs .tabs {
  display: flex;
  list-style: none;
  margin-top: 32px;
  padding: 0px;
}
.product-detail .woocommerce-tabs .tabs li {
  position: relative;
  margin-right: 32px;
  padding: 8px 0px;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #29292A;
}
.product-detail .woocommerce-tabs .tabs li a {
  display: inline-block;
}
.product-detail .woocommerce-tabs .tabs li.active {
  border-bottom: 3px solid #29292A;
}
.product-detail .woocommerce-tabs .tabs li::after {
  display: none;
}
.product-detail .woocommerce-tabs .woocommerce-Tabs-panel h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #29292A;
}
.product-detail .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected,
.product-detail .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover {
  box-shadow: none;
}
.product-detail .product_meta {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #CECECE;
  border-bottom: 1px solid #CECECE;
}
.product-detail .product_meta .sku-label,
.product-detail .product_meta .posted-label {
  position: relative;
  width: 120px;
  display: inline-block;
  font-size: 20px;
}
@media (max-width: 1199.98px) {
  .product-detail .product_meta .sku-label,
  .product-detail .product_meta .posted-label {
    font-size: 16px;
  }
}
.product-detail .product_meta .sku-label::after,
.product-detail .product_meta .posted-label::after {
  content: ":";
  position: absolute;
  right: 0;
}
.product-detail .product_meta .sku_wrapper {
  font-size: 20px;
  line-height: 35px;
  padding-bottom: 20px;
}
@media (max-width: 1199.98px) {
  .product-detail .product_meta .sku_wrapper {
    font-size: 16px;
  }
}
@media (max-width: 575.98px) {
  .product-detail .product_meta .sku_wrapper {
    padding-bottom: 0;
  }
}
.product-detail .product_meta .sku_wrapper .sku {
  color: #676A6C;
}
.product-detail .product_meta .posted_in {
  font-size: 20px;
  line-height: 35px;
  color: #676A6C;
}
@media (max-width: 1199.98px) {
  .product-detail .product_meta .posted_in {
    font-size: 16px;
  }
}
.product-detail .product_meta .posted_in a {
  color: #676A6C;
}
.product-detail .variations th.label label {
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
}
@media (max-width: 1199.98px) {
  .product-detail .variations th.label label {
    font-size: 16px;
  }
}
.product-detail .variations th.label .woo-selected-variation-item-name {
  display: none;
}
.product-detail .variations tr {
  position: relative;
}
.product-detail .variations .woo-variation-items-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.product-detail .variations .woo-variation-items-wrapper ul {
  margin-bottom: 0;
}
.product-detail .variations .woo-variation-items-wrapper ul li.variable-item {
  margin-right: 10px;
}
.product-detail .variations .woo-variation-items-wrapper .reset_variations {
  position: absolute;
  left: 0;
}
.product-detail .single_variation_wrap {
  margin-top: 20px;
}
.product-detail .onsale {
  position: absolute;
  top: 16px;
  left: 24px;
  z-index: 10;
}
.product-detail .flex-control-nav {
  display: flex;
  padding: 0px;
  list-style: none;
}
.product-detail .woocommerce-product-attributes td, .product-detail .woocommerce-product-attributes th {
  padding: 18px 27px;
  text-align: left;
  vertical-align: top;
}
.product-detail .woocommerce-product-attributes:not(.has-background) th {
  background-color: #f8f8f8;
}
.product-detail .yith-wcwl-add-to-wishlist {
  margin-top: 32px;
  margin-bottom: 32px;
}
.product-detail .variations {
  margin-bottom: 32px;
}
.product-detail .single_add_to_wishlist,
.product-detail .yith-wcwl-add-button a {
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #676A6C;
}
.product-detail .stock {
  color: #6FCF97;
  font-size: 20px;
  line-height: 35px;
}
.product-detail .stock.out-of-stock {
  color: rgb(241, 80, 80);
}
@media (max-width: 1199.98px) {
  .product-detail .stock {
    font-size: 16px;
  }
}
.product-detail .stock::before {
  content: none;
}
.product-detail .stock.in-stock {
  color: rgb(20, 206, 113);
}
.product-detail .stock.in-stock::before {
  content: none;
}
.product-detail .quantity {
  width: 35%;
  margin-right: 10px;
}
.product-detail .quantity .btn-minus,
.product-detail .quantity .btn-plus {
  margin-left: 0 !important;
}
.product-detail .single_add_to_cart_button {
  width: auto;
  padding: 12px 30px;
  border: none;
  background-color: #607D8B;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  transition: 0.4s ease;
}
.product-detail .single_add_to_cart_button:hover {
  background-color: #80a0b1;
}
.product-detail .single_add_to_cart_button.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
@media only screen and (max-width: 1399.98px) {
  .product-detail .product_title {
    font-size: 32px;
    line-height: 1.5;
  }
}
@media (max-width: 1199.98px) {
  .product-detail .single_add_to_cart_button {
    width: 50%;
    font-size: 16px;
  }
  .product-detail .quantity {
    width: 50%;
    margin-right: 0;
  }
}
@media (max-width: 991.98px) {
  .product-detail .yith-wcwl-add-to-wishlist {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .product-detail .single_add_to_wishlist,
  .product-detail .yith-wcwl-add-button a {
    font-size: 16px;
    line-height: 1.5;
  }
  .product-detail .single_add_to_cart_button {
    width: 100%;
  }
  .product-detail .quantity {
    margin-bottom: 16px;
    width: 100%;
  }
  .product-detail .product_title {
    font-size: 30px;
    line-height: 1.5;
  }
}
@media (max-width: 767.98px) {
  .product-detail .woocommerce-product-gallery {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .product-detail .woocommerce-product-gallery .slick-arrow {
    display: none !important;
  }
  .product-detail .woocommerce-product-gallery .wcgs-carousel {
    border: 1px solid #e0e0e0;
  }
  .product-detail .single_add_to_cart_button {
    width: 46%;
    margin-left: 0;
    margin-top: 0;
  }
  .product-detail .quantity {
    margin-bottom: 0px;
    width: 50%;
  }
  .product-detail .product_title {
    font-size: 24px;
    letter-spacing: 2.4px;
  }
  .product-detail .woocommerce-Price-amount {
    font-size: 20px;
    line-height: 1.5;
  }
  .product-detail del,
  .product-detail ins {
    font-size: 20px;
  }
}
@media (max-width: 575.98px) {
  .product-detail .woocommerce-tabs .tabs {
    flex-direction: column;
  }
  .product-detail .woocommerce-tabs .tabs li {
    margin-right: 0px;
  }
  .product-detail .single_add_to_cart_button {
    width: 50%;
  }
  .product-detail .quantity {
    width: 50%;
  }
}
@media only screen and (max-width: 380px) {
  .product-detail .single_add_to_cart_button {
    width: 100%;
  }
  .product-detail .quantity {
    margin-bottom: 14px;
    width: 100%;
  }
}

.added_to_cart.wc-forward {
  display: none;
}

.edit-link {
  display: none;
}

.related.products .products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.related {
  padding-top: 120px;
  padding-bottom: 100px;
}
.related .holder {
  display: flex;
  padding: 20px 0px;
  margin-bottom: 64px;
}
@media (max-width: 767.98px) {
  .related {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.star-rating {
  overflow: hidden;
  position: relative;
  height: 1.618em;
  line-height: 1.618;
  font-size: 1em;
  width: 5.55em;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
.star-rating::before,
.star-rating span::before {
  content: "\f005\f005\f005\f005\f005";
  top: 0;
  left: 0;
  position: absolute;
}
.star-rating::before {
  opacity: 0.25;
  float: left;
}
.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
  color: rgb(241, 167, 6);
}

p.stars {
  display: block;
  margin-bottom: 24px;
}
p.stars a {
  position: relative;
  height: 1em;
  width: 1em;
  text-indent: -999em;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}
p.stars a::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  content: "\f005";
  font-size: 0.95em;
  color: #43454b;
  text-indent: 0;
  opacity: 0.25;
  transition: 0.4s ease;
}
p.stars a:hover ~ a::before {
  color: #43454b;
  opacity: 0.25;
}
p.stars:hover a::before {
  color: rgb(241, 167, 6);
  opacity: 1;
}
p.stars.selected a.active::before {
  color: rgb(241, 167, 6);
  opacity: 1;
}
p.stars.selected a.active ~ a::before {
  color: #43454b;
  opacity: 0.25;
}
p.stars.selected a:not(.active)::before {
  color: rgb(241, 167, 6);
  opacity: 1;
}

.comment-reply-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 72px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #29292A;
}

.commentlist {
  list-style: none;
  padding: 0px;
}
.commentlist .review {
  margin-bottom: 32px;
}

.comment_container {
  position: relative;
  display: flex;
  padding-left: 32px;
}
.comment_container .avatar {
  position: relative;
  border-radius: 100%;
  max-width: 100px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.comment-text {
  padding-left: 16px;
}

.comment-respond .submit {
  display: inline-block;
  padding: 20px 52px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 0px;
  text-transform: uppercase;
  box-shadow: none;
  outline: none;
  border: none;
  background-color: #80a0b1;
  color: #ffffff;
}
.comment-respond .submit:hover {
  color: #ffffff;
}
.comment-respond .submit:focus, .comment-respond .submit:active {
  color: #ffffff !important;
}
.comment-respond .submit.disabled {
  color: #ffffff;
}
@media only screen and (max-width: 575.98px) {
  .comment-respond .submit {
    padding: 10px 20px;
    font-size: 12px;
  }
}

.storefront-product-pagination {
  display: block;
}
.storefront-product-pagination a {
  position: fixed;
  top: 50%;
  width: 500px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1499;
  display: flex;
  align-items: center;
}
.storefront-product-pagination a img {
  max-width: 90px;
  height: auto;
  border-radius: 0;
}
.storefront-product-pagination a[rel=prev] {
  left: -455px;
  transition: left 0.3s ease-out;
  flex-direction: row-reverse;
  background-color: #ffffff;
  padding: 8px 16px;
  z-index: 1;
}
.storefront-product-pagination a[rel=prev]:hover {
  left: 0;
}
.storefront-product-pagination a[rel=prev] img {
  margin-left: 1.41575em;
}
.storefront-product-pagination a[rel=prev] .storefront-product-pagination__title {
  margin-right: auto;
}
.storefront-product-pagination a[rel=next] {
  right: -455px;
  transition: right 0.3s ease-in;
  padding-right: 1em;
  background-color: #ffffff;
  padding: 8px 16px;
  z-index: 1;
}
.storefront-product-pagination a[rel=next]:hover {
  right: 0;
}
.storefront-product-pagination a[rel=next] img {
  margin-right: 1.41575em;
}
.storefront-product-pagination a[rel=next] .storefront-product-pagination__title {
  margin-left: auto;
}
@media only screen and (max-width: 991.98px) {
  .storefront-product-pagination {
    display: none;
  }
}

/*# sourceMappingURL=single-product.css.map*/