@use 'sass:math';
@use '../../_config.scss' as *;
@use '../components/cards/_card-visimisi.scss' as *;

.visi-misi{
    margin-top: -240px;
    padding-top: 423px;
    background: url(../../../../images/pages/home/visimisi/bg.svg);

    &__inner{
        display: grid;
        gap: 40px;
        margin-right:calc(8.5% + 16px);
        padding: 180px 135px 180px calc(8.5% + 16px);
        background-color: #ffffff;
    }
    @media only screen and (max-width: 1919.98px) {
        margin-top: -12.5vw;
        padding-top: 22.03125vw;
        padding-bottom: 11.03125vw;
        &__inner{
            display: grid;
            gap: 2.0833vw;
            padding: 9.375vw 7.03125vw 9.375vw calc(8.5% + 16px);
        }
    }

    @media only screen and (max-width: 1199.98px) {
        margin-top: -29.5vw;
        padding-top: 40.03125vw;
        &__inner{
            padding: 9.375vw 4.03125vw 9.375vw calc(3.5% + 16px);
        }
    }
    @media only screen and (max-width: 767.98px) {
        margin-top: -17.5vw;
        padding-top: 0px;
        &__inner{
            position: relative;
            z-index: 2;
        }
    }

    @media only screen and (max-width: 575.98px) {
        &__inner{
            padding: 32px 24px 42px 3.5%;
        }
    }
}