@use 'sass:math';
@use '../../_config.scss' as *;

.join-us{
    @include imageRatio(928,540);
    background-color: color(blue,400);
    &__inner{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        gap: 30px;
        align-items: center;
        padding-left:calc(7.5% + 16px)

    }
    &__info-container{
        position: relative;
        grid-column: 1/6;
        padding: 42px 0px;
        z-index: 2;
    }
    &__image-container{
        height: 100%;
        grid-column: 6/-1;
    }
    &__title{
        margin-bottom: 15px;
        color: color(white);
        font-size: 70px;
        font-weight: 700;
        line-height: 82px;
    }
    &__description{
        margin-bottom: 50px;
        color:color(white);
        font-size: 30px;
        font-weight: 400;
        line-height: 43px
    }
    @media only screen and (max-width: 1919.98px) {
        &__title{
            font-size:3.645833vw;
            line-height: 1.5;
        }
        &__description{
            margin-bottom: 2.604166vw;
            font-size: 1.5625vw;
            line-height: 1.5;
        }
    }

    @media only screen and (max-width: 1199.98px) {
        &__inner{
            padding-left:calc(3.5% + 16px)
        }
    }

    @media only screen and (max-width: 991.98px) {
        &__inner{
            gap: 0px;
        }
    }

    @media only screen and (max-width: 767.98px) {
        &__inner{
            padding: 0px;
        }
        &__info-container{
            grid-column: 1/-1;
            grid-row: 1;
            text-align: center;
        }
        &__image-container{
            background-color: color(blue,400);
            grid-column: 1/-1;
            grid-row: 1;

            img{
                opacity: 0.4;
            }
        }
        &__title{
            margin-bottom: 30px;
            font-size:42px;
        }
        &__description{
            margin-bottom: 40px;
            font-size: 18px;
        }
    }

    @media only screen and (max-width: 575.98px) {
        &__title{
            font-size:37px;
        }
    }
    @media only screen and (max-width: 380px) {
        &__title{
            font-size:32px;
        }
    }

}